@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/functions/_index.scss' as *;

.bf-usa-process-list {
  margin-left: rem(70px);
  margin-right: rem(18px);
}

.bf-usa-process-list__item {
  min-height: rem(100px);
  border-left: 0.5rem solid color.$sky;

  &::before {
    background-color: color.$electric-blue;
    color: color.$white;
  }
}

.bf-usa-process-list__item:last-child {
  border-left: rem(8px) solid transparent;
}

h3.bf-usa-process-list__heading {
  @include h5;
}
