@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;

.usa-process-list {
  margin-left: 70px;
  margin-right: 18px;
}

.usa-process-list__item {
  min-height: 100px;
  border-left: 0.5rem solid color.$sky;

  &::before {
    background-color: color.$electric-blue;
    color: color.$white;
  }
}

.usa-process-list__item:last-child {
  border-left: 0.5rem solid transparent;
}

h3.usa-process-list__heading {
  @include h5;
}
