@use '../../styles/functions/_index.scss' as *;

.bf-usa-process-list {
  margin-left: rem(70px);
  margin-right: rem(18px);
}

.bf-usa-process-list__item {
  min-height: rem(80px);

  .bf-usa-process-list__heading {
    font-size: rem(21px);
  }
}
