@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

#benefit-finder {
  .time-indicator {
    @include p;

    color: color.$medium-grey;
    text-align: center;
    margin-bottom: space.$space-lg;
  }
}
