@use '@styles/colors' as color;
@use '@styles/mixins' as *;
@use '@styles/space' as space;

.time-indicator {
  color: color.$dark-medium-grey;
  text-align: center;
  margin-bottom: space.$space-lg;
}
