@use '../../styles/colors/_index.scss' as color;

#benefit-finder {
  .time-indicator {
    color: color.$medium-grey;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.8px;
    text-align: center;
    margin-bottom: 32px;
  }
}
