@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

.time-indicator {
  @include important-bold($font-family: 'sans');

  color: color.$dark-medium-grey;
  text-align: center;
  margin-bottom: space.$space-lg;
}
