.benefit-accordion {
  /* stylelint-disable selector-class-pattern */
  .usa-accordion__button {
    position: relative;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 20px;
      margin: auto 0;
    }

    &[aria-expanded='true'] {
      background-image: none;
      background-color: #1a4480;
      color: #fff;
    }

    &[aria-expanded='false'] {
      background-image: none;
      background-color: #d9e8f6;
      color: #1a4480;
    }

    .heading {
      font-size: 20px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0;
    }

    .sub-heading {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0;
    }
  }

  .usa-accordion__content {
    /* stylelint-disable-line */
    border-bottom: 1px solid #005ea2;
    border-left: 1px solid #005ea2;
    border-right: 1px solid #005ea2;
    padding-bottom: 1rem;
  }
  /* stylelint-enable selector-class-pattern */
}
