@use '@styles/space' as space;
@use '@styles/breakpoints' as *;

@media (width >= $desktop) {
  .bf-radio-group > .bf-usa-radio:first-of-type {
    .bf-usa-radio__label {
      margin-top: space.$space-md-plus;
    }
  }
}
