@use '../../styles/space/_index.scss' as space;
@use '../../styles/colors/_index.scss' as color;

.bf-usa-fieldset {
  padding-bottom: space.$padding-bottom-lg;
  padding-left: space.$space-md-gap;
  position: relative;
  padding-top: 20px;

  .bf-error-detail {
    margin-top: space.$space-md;
    color: color.$alert-red;
    font-weight: 600;

    ~ li {
      margin-top: 2px;
    }
  }

  .bf-hint {
    margin: space.$space-md 0;
  }

  .bf-legend {
    position: absolute;
    top: 0;
    margin-top: 0;
  }

  &.usa-input--error {
    border-left: 0.25rem solid #c61f0c;
  }
}
