@use '../../styles/colors/_index.scss' as color;

.bf-obfuscated-link {
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
  color: color.$pure-black;

  &:visited {
    text-decoration: none;
    color: color.$pure-black;
  }
}
