@use '../../styles/colors/_index.scss' as color;
@use '../../styles/functions/_index.scss' as *;

.bf-obfuscated-link {
  position: relative;
  padding-right: rem(50px);
  padding-left: rem(50px);
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }
}
