.key-eligibility-criteria-group {
  .key-eligibility-criteria-heading {
    background-color: #1a4480;
    border-radius: 4px 4px 0 0;
    padding: 12px 36px;
    margin: 0;
    color: white;
    text-align: center;
  }

  .key-eligibility-criteria-list {
    padding: 0;
    margin: 0;

    .key-eligibility-criteria-list-item {
      margin: 0;
      padding: 14px 36px;
      border: 0.5px solid #005ea2;
      background-color: #d9e8f6;
    }
  }
}
