@use '../../styles/sizes/_index.scss' as *;

.bf-share-button.bf-usa-button {
  width: $button-max-width;

  i {
    position: relative;
    top: 3px;
    right: 10px;

    svg {
      height: 18px;
    }
  }
}
