@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;

.bf-usa-select {
  border-radius: 3px;

  option {
    @include p;
  }

  &.usa-input--error {
    padding: 8px 32px 8px 8px;
    height: auto;
    border-radius: 3px;
    border-color: color.$alert-red;
  }
}
