@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;

.benefit-select {
  border-radius: 3px;

  option {
    @include p;
  }

  &.benefit-input--error {
    padding: 8px 32px 8px 8px;
    height: initial;
    border-radius: 3px;
    border-color: color.$alert-red !important;
  }
}
