@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/functions/_index.scss' as *;

.bf-usa-select {
  border-radius: rem(3px);

  &.usa-input--error {
    padding: rem(8px) rem(32px) rem(8px) rem(8px);
    height: auto;
    border-radius: rem(3px);
    border-color: color.$alert-red;

    &:focus {
      outline-offset: rem(2px);
    }
  }
}
