@use '@styles/colors' as color;
@use '@styles/breakpoints' as *;
@use '@styles/space' as space;
@use '@styles/sizes' as *;
@use '@styles/mixins' as *;
@use '@styles/functions' as *;

.bf-verify-selections-view {
  background-color: color.$officer-navy;
  margin: 0;
  padding-bottom: space.$padding-bottom-xl;

  .bf-grid-container.grid-container {
    max-width: $form-container-max-width;
    padding: 0 space.$space-md-gap;

    @media (width >= calc($form-container-max-width + space.$space-md-plus)) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.bf-section-wrapper {
  background-color: color.$white;
  border: rem(1px) solid color.$white;
  border-radius: rem(12px);

  .bf-usa-button {
    margin-bottom: space.$space-md;
  }
}

.bf-section-info {
  margin: rem(50px) space.$space-md-gap;
}

.bf-section-nav-btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .bf-usa-button {
    min-width: rem(120px);
  }

  .bf-usa-modal-group {
    width: 100%;
  }

  button,
  .bf-usa-modal-group a {
    margin: 0;
  }

  @media (width >= $tablet) {
    .bf-usa-button:first-of-type {
      margin-right: space.$space-lg-plus;
    }

    .bf-usa-modal-group {
      width: auto;
    }

    button,
    .bf-usa-modal-group a {
      margin-bottom: space.$space-md;
    }
  }
}

.bf-section-heading {
  background-color: color.$officer-navy;
  color: color.$white;
  margin: 0;
  padding: space.$space-xl space.$space-md;
}

#bf-section {
  padding-left: space.$space-md;
  padding-right: space.$space-md;
  padding-bottom: space.$padding-bottom-lg;
  margin-bottom: space.$space-lg-plus;

  .bf-form-heading-group {
    padding-bottom: space.$space-lg;

    h2.bf-form-heading {
      margin-bottom: 0;
      padding-bottom: space.$padding-bottom-sm;
    }

    .bf-section-sub-heading p {
      @include subheadings;

      margin: 0;
    }
  }
}

.bf-radio-group {
  display: flex;

  .bf-usa-radio__label {
    margin-right: space.$space-lg;
  }
}

@media (width >= $desktop) {
  .bf-section-info {
    margin: space.$space-xl;
  }

  #bf-section {
    padding-left: 0;
    padding-right: 0;
  }

  .bf-radio-group {
    display: inline;
  }
}
