@use '@styles/colors' as color;
@use '@styles/breakpoints' as *;
@use '@styles/space' as space;
@use '@styles/mixins' as *;
@use '@styles/functions' as *;

.bf-result-view-benefits,
.bf-result-view-unmet,
.bf-result-view-relevant-benefits,
.bf-result-view-share-results {
  padding: space.$space-md 0;
  text-align: left;

  .bf-result-view-unmet-heading,
  .bf-result-view-relevant-benefits-heading,
  .bf-result-view-share-results-heading {
    @include h3;
  }
}

.bf-result-view-unmet {
  p {
    padding-bottom: space.$padding-bottom-md;
  }

  .bf-result-view-cta-wrapper {
    display: flex;
    justify-content: center;
  }
}

.bf-result-view-share-results-trigger-group {
  button {
    margin-bottom: space.$space-sm;
  }
}

.bf-result-view-share-results {
  text-align: left;
}

@media (width >= $desktop) {
  .bf-result-view-details {
    padding: space.$space-md-plus 5.4rem;
  }
}
