@use '../../styles/colors/_index.scss' as color;
@use '../../styles/space/_index.scss' as space;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/functions/_index.scss' as *;
@use '../../styles/breakpoints/_index.scss' as *;

.bf-usa-card--relative-benefit {
  margin-bottom: space.$space-md;

  .bf-usa-card__container {
    border-radius: 0;
    border: rem(2px) solid color.$dark-teal;
    color: color.$officer-navy;
    height: auto;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover.bf-usa-card__container {
    background-color: color.$medium-teal;
  }

  a:active.bf-usa-card__container {
    border: rem(2px) solid color.$dark-teal;
  }

  &.bf-card-icon {
    .bf-relative-icon svg {
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: space.$space-md;
      width: rem(70px);
      height: rem(70px);
      padding: space.$space-sm-plus;
    }

    .bf-usa-card__container {
      padding: 0 space.$space-lg-plus 0 space.$space-xl-plus;
    }
  }

  h3.bf-usa-card__heading {
    @include h6;

    text-decoration: underline;
  }

  .bf-usa-card__body {
    @include p;

    display: none;
  }

  .bf-usa-card__cta {
    padding: space.$padding-bottom-md-plus;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (width >= $desktop) {
    .bf-usa-card__body {
      display: block;
      padding-top: 0;
      padding-bottom: space.$padding-bottom-md-plus;
      margin-top: 0;
      margin-bottom: 0;

      p {
        max-width: 90%;
      }
    }

    .bf-usa-card__cta {
      display: none;
    }
  }
}
