@use '../../styles/colors/_index.scss' as color;
@use '../../styles/space/_index.scss' as space;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/breakpoints/_index.scss' as *;

.relative-benefit-card {
  margin-bottom: space.$space-md;

  .benefit-card__container {
    background-color: color.$sky;
    border-radius: 4px;
    color: color.$officer-navy;
    height: auto;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover.benefit-card__container {
    background-color: color.$dark-sky;
  }

  a:active.benefit-card__container {
    border: 2px solid color.$pop-blue;
  }

  .benefit-card__header {
    padding-bottom: 0;
  }

  h3.benefit-card__heading {
    @include h6;
  }

  .benefit-card__body {
    @include p;

    display: none;
  }

  .benefit-card__cta {
    padding: space.$padding-bottom-md-plus;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (width >= $desktop) {
    .benefit-card__body {
      display: block;
      padding-top: 0;
      padding-bottom: space.$padding-bottom-md-plus;
      margin-top: 0;
      margin-bottom: 0;

      p {
        max-width: 90%;
      }
    }

    .benefit-card__cta {
      display: none;
    }
  }
}
