.obfuscated-link {
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
  color: white;

  .carrot {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto 0;
    transform: rotate(-90deg);

    &::after {
      content: '\25B8';
    }
  }

  &:visited {
    text-decoration: none;
    color: white;
  }
}
