.obfuscated-link {
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
}

.obfuscated-link a {
  text-decoration: none;
  color: white;

  &__decorative {
    &::after {
      content: '\25B8';
      padding-left: 10px;
      position: absolute;
      right: 35px;
      bottom: calc(50% - 8px);
    }
  }

  &:visited {
    text-decoration: none;
    color: white;
  }
}
