@use '../../styles/colors/_index.scss' as color;

.modal-button {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.modal-heading {
  color: color.$pure-black;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin: 24px 0;
}
