@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/sizes/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

.modal-button {
  @include important-bold;

  background-color: transparent;
  border: 0;
  position: absolute;
  top: space.$space-md-plus;
  right: space.$space-md-plus;
  cursor: pointer;
}

a.nav-item-one,
a.nav-item-two {
  @include important-bold;

  &.benefit-button {
    @include important-bold;

    background-color: color.$pop-blue;
    color: color.$white;
    width: $button-max-width;
  }

  &.benefit-button:hover {
    background-color: color.$officer-navy;
    color: color.$white;
  }
}

.modal-heading {
  @include important-bold;

  font-weight: 600;
  color: color.$pure-black;
  text-align: center;
  font-style: normal;
  margin: space.$space-md-plus 0;
}

.modal.benefit-button-group.width-full {
  margin: 0 auto;
  text-align: center;
}
