@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/sizes/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

#benefit-finder-modal {
  .bf-modal-button {
    @include important-bold($font-family: 'sans');

    background-color: transparent;
    border: 0;
    position: absolute;
    top: space.$space-md-plus;
    right: space.$space-md-plus;
    cursor: pointer;
  }

  .bf-nav-item-one,
  .bf-nav-item-two {
    @include important-bold($font-family: 'sans');

    &.bf-usa-button {
      @include important-bold($font-family: 'sans');

      background-color: color.$pop-blue;
      color: color.$white;
      width: $button-max-width;
    }

    &.bf-usa-button:hover {
      background-color: color.$officer-navy;
      color: color.$white;
    }
  }

  .bf-modal-heading {
    @include important-bold($font-family: 'sans');

    font-weight: 600;
    color: color.$pure-black;
    text-align: center;
    font-style: normal;
    margin: space.$space-md-plus 0;
  }

  .bf-modal.bf-usa-button-group.width-full {
    margin: 0 auto;
    text-align: center;
  }
}
