@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/sizes/_index.scss' as *;
@use '../../styles/functions/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

#benefit-finder-modal {
  .bf-modal-button {
    @include important-bold;

    background-color: transparent;
    border: 0;
    position: absolute;
    top: space.$space-md-plus;
    right: space.$space-md-plus;
    cursor: pointer;
  }

  .bf-modal-heading {
    @include important-bold;

    font-weight: 600;
    color: color.$pure-black;
    text-align: center;
    font-style: normal;
    margin: space.$space-md-plus 0;
  }

  .bf-modal.bf-usa-button-group.width-full {
    margin: 0 auto;
    text-align: center;

    .bf-usa-button-group__item {
      margin-left: 0;
      margin-right: 0;
    }

    .bf-usa-button {
      width: rem(200px);
    }
  }
}
