@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/sizes/_index.scss' as *;
@use '../../styles/breakpoints/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

#benefit-finder-modal {
  .bf-modal-button {
    @include important-bold;

    background-color: transparent;
    border: 0;
    border-radius: 30px;
    position: absolute;
    top: space.$space-md-plus;
    right: space.$space-md-plus;
    cursor: pointer;
    color: color.$pure-black;
    margin: 0;
    padding: 0;
    height: space.$space-md-plus;
  }

  .bf-nav-item-one,
  .bf-nav-item-two {
    @include important-bold;

    &.bf-usa-button {
      @include important-bold;

      background-color: color.$usagov-button-background;
      box-shadow: inset 0 0 0 2px color.$usagov-button-outline;
      width: $button-max-width;
    }

    &.bf-usa-button:hover {
      background-color: color.$usagov-button-background-hover;
    }

    &.bf-usa-button:focus {
      box-shadow: inset 0 0 0 2px color.$white;
    }
  }

  .bf-modal-heading {
    @include important-bold;

    font-weight: 600;
    color: color.$pure-black;
    text-align: center;
    font-style: normal;
    margin: space.$space-md-plus 0;
  }

  .bf-modal.bf-usa-button-group.width-full {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
  }

  @media (width <= $modal-desktop) {
    .bf-nav-item-one,
    .bf-nav-item-two {
      &.bf-usa-button {
        width: 100%;
      }
    }
  }
}
