@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

.modal-button {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: space.$space-md-plus;
  right: space.$space-md-plus;
  cursor: pointer;
}

.modal-heading {
  @include h5;

  color: color.$pure-black;
  text-align: center;
  font-style: normal;
  margin: space.$space-md-plus 0;
}
