@use '../shared/styles/colors/index.scss' as color;

html {
  background-color: color.$officer-navy;
  height: 100%;
  min-height: 100vh;
}

// try some usa-gov overrides
.main-content {
  padding-bottom: 0 !important;
}

.usa-footer {
  padding-top: 0 !important;
}
