version: 2.1

# Define the jobs we want to run for this project
jobs:
  build_and_deploy:
    machine:
      image: ubuntu-2004:202107-02

    steps:
      - run:
          name: Cloning the Repo and initiating the Submodule
          command: |
            echo "cloning the repo and initiating the usagov-2021 submodule"
            git clone -b "$CIRCLE_BRANCH" "$CIRCLE_REPOSITORY_URL"
            cd px-benefit-finder
            git submodule init
            git submodule update
            cd usagov-2021
            git checkout dev
            git checkout 3ff7fb93a47daef6d4e33d3ec9beef72b8e386cd


      - run:
          name: Moving the benefit-finder app into usagov-2021 module
          command: |
            cd px-benefit-finder
            bash ./mv-benefit-finder-app.sh
            echo ".................."
            echo "moving the benefit-finder-app module into the usagov-2021 directory"
            mv  usagov_bears usagov-2021/web/modules/custom
            mv death.json usagov-2021/scripts/death.json
            mv es_death.json usagov-2021/scripts/es_death.json

      - run: 
          name: Pre-docker-build configurations
          command: |
            cd px-benefit-finder/usagov-2021
            mv .docker/Dockerfile-cms .
            sed -i 's/80/8080/g' Dockerfile-cms  
            sed -i 's/80/8080/g' .docker/src-cms/etc/nginx/partials/cms.conf.tmpl
            sed -i 's/80/8080/g' .docker/src-cms/etc/nginx/partials/www.conf.tmpl
            sed -i "s/\$service\['name'\] === 'database'/stristr(\$service\['name'\], 'mysql')/"  web/sites/default/settings.php
            sed -i "s/\$settings\['hash_salt'\] = \$service\['credentials'\]\['HASH_SALT'\]/\$settings\['hash_salt'\] = \$service\['credentials'\]\['hash_salt'\]/"  web/sites/default/settings.php
            sed -i "s/\$service\['name'\] === 'storage'/stristr(\$service\['name'\], 'storage')/"  web/sites/default/settings.php
            sed -i "s/\$service\['name'\] === 'secrets'/stristr(\$service\['name'\], 'secrets')/"  web/sites/default/settings.php
            sed -i "s/      \$settings\['s3fs.use_s3_for_public'\] = TRUE;/      \/\/      \$settings\['s3fs.use_s3_for_public'\] = TRUE;/" web/sites/default/settings.php

      - run: 
          name: Building, tagging, pushing the Docker Image
          command: |
            export IMAGE_TAG=$( echo $CIRCLE_WORKFLOW_ID | cut -b -8 )
            export DOCKERREPO="ghcr.io/gsa/px-benefit-finder/benefit-finder-cms"
            cd px-benefit-finder/usagov-2021
            docker build -f ./Dockerfile-cms -t "$DOCKERREPO:$IMAGE_TAG" .
            echo "$CR_PAT" | docker login ghcr.io --username "$GH_USERNAME" --password-stdin
            docker push "$DOCKERREPO:$IMAGE_TAG"
            docker logout
            

      - run:
          name: Injecting container name to the manifest.yml
          command: |
            echo "......"
            echo $CIRCLE_BRANCH
            echo "......"
            export IMAGE_TAG=$( echo $CIRCLE_WORKFLOW_ID | cut -b -8 )
            export DOCKERREPO="ghcr.io/gsa/px-benefit-finder/benefit-finder-cms"
            cd px-benefit-finder/usagov-2021
            sed -i "s#^    image: .*cms-latest*#    image: $DOCKERREPO:$IMAGE_TAG#" manifest.yml
            sed -i "s#^    - secauthsecrets##" manifest.yml
            sed -i "s#- name: cms#- name: benefit-finder-cms-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^  memory: 1.5G#  memory: 512M#" manifest.yml
            sed -i "s#^    - database#    - benefit-finder-mysql-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^    - secrets#    - benefit-finder-secrets-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^    - storage#    - benefit-finder-storage-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^    - dbstorage##" manifest.yml
            cat manifest.yml

      - run:
          name: Setup CF CLI
          command: |
            curl -v -L -o cf-cli_amd64.deb "https://cli.run.pivotal.io/stable?release=debian64&source=github"
            sudo dpkg -i cf-cli_amd64.deb
            cf -v

      - run:
          name: Deploy the app to cloud.gov
          command: |
            export IMAGE_TAG=$( echo $CIRCLE_WORKFLOW_ID | cut -b -8 )
            export DOCKERREPO="ghcr.io/gsa/px-benefit-finder/benefit-finder-cms"
            cf login -a https://api.fr.cloud.gov -u "$CF_USER" -p "$CF_PASSWORD" -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"
            cf target -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"
            cf services
            cd px-benefit-finder/usagov-2021
            echo "$CR_PAT" | docker login ghcr.io --username "$GH_USERNAME" --password-stdin
            CF_DOCKER_PASSWORD=$( echo $CR_PAT) cf push benefit-finder-cms-${CIRCLE_BRANCH}  --docker-image "$DOCKERREPO:$IMAGE_TAG" --docker-username "$CF_USER"
            docker logout
            sleep 20

      - run:
          name: Enable benefit-finder module
          command: |
            cf login -a https://api.fr.cloud.gov -u "$CF_USER" -p "$CF_PASSWORD" -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"
            cf target -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"
            cf ssh benefit-finder-cms-${CIRCLE_BRANCH} --command "/var/www/vendor/bin/drush state:set system.maintenance_mode 0 && \
                                  /var/www/vendor/bin/drush pm:uninstall usagov_login && \
                                  /var/www/vendor/bin/drush pm:enable usagov_bears_block && \
                                  /var/www/vendor/bin/drush pm:enable usagov_bears_content && \
                                  /var/www/vendor/bin/drush pm:enable usagov_bears_api && \
                                  /var/www/vendor/bin/drush pm:enable usagov_bears && \
                                  /var/www/vendor/bin/drush pm:enable usagov_bears_page && \
                                  /var/www/vendor/bin/drush cr && \
                                  cd ../var/www/web/sites/default/files && \
                                  mkdir -p bears/api/life_event && \
                                  chown -R nginx:nginx bears && \
                                  cd bears/api/life_event && \
                                  curl http://127.0.0.1:8080/bears/api/life-event/es_retirement/jsonfile  
                                  curl http://127.0.0.1:8080/bears/api/life-event/death/jsonfile && \
                                  curl http://127.0.0.1:8080/bears/api/life-event/es_death/jsonfile && \
                                  curl http://127.0.0.1:8080/bears/api/life-event/retirement/jsonfile && \
                                  curl http://127.0.0.1:8080/bears/api/life-event/es_retirement/jsonfile && \
                                  curl http://127.0.0.1:8080/bears/api/life-event/disability/jsonfile && \
                                  curl http://127.0.0.1:8080/bears/api/life-event/es_disability/jsonfile && \
                                  ls -l && \
                                  /var/www/vendor/bin/drush cr"



  
  component-library:
    machine:
      image: ubuntu-2004:202107-02

    steps:
      - run:
          name: Cloning the Repo and initiating the Submodule
          command: |
            echo "cloning the repo and initiating the usagov-2021 submodule"
            git clone -b "$CIRCLE_BRANCH" "$CIRCLE_REPOSITORY_URL"
            cd px-benefit-finder
            git submodule init
            git submodule update

      - run:
          name: Setup CF CLI
          command: |
            curl -v -L -o cf-cli_amd64.deb "https://cli.run.pivotal.io/stable?release=debian64&source=github"
            sudo dpkg -i cf-cli_amd64.deb
            cf -v
            cf login -a https://api.fr.cloud.gov -u "$CF_USER" -p "$CF_PASSWORD" -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"
            
      - run:
          name: Deploy Storybook
          command: |  
             cd px-benefit-finder/benefit-finder
             nvm install node --reinstall-packages-from=node
             npm i @craco/craco
             npm run build
             cd .. 
             bash mv-uswds-usagov-theme.sh
             cd benefit-finder
             envsubst < manifest.yml > manifest.yml
             cat manifest.yml 
             npm run build:storybook
             mv manifest.yml storybook-static/
             mv Staticfile storybook-static/
             mv nginx storybook-static/
             cd storybook-static
             echo "${storybook_username}:${storybook_password}" > Staticfile.auth
             cf push           



# Orchestrate our job run sequence
workflows:
# This workflow only gets triggered when there is a push to `main` branch.
  cms_build_and_deploy_workflow:
    jobs:
      - build_and_deploy:
          filters:
            branches:
              only: 
                - main
                - dev

  scheduled_cms_build_and_deploy_workflow:
    triggers:
      - schedule:
          cron: '0 7 * * *'
          filters:
            branches:
              only:
                - main
                - dev
    jobs:
      - build_and_deploy

  create-component-library-workflow:
    jobs:
      - component-library:
          filters:
            branches:
              only:
                - main
                - dev



      

