version: 2.1

# Define the jobs we want to run for this project
jobs:
  build_and_deploy_dev:
    machine:
      image: ubuntu-2004:202107-02

    steps:
      - run:
          name: Cloning the Repo and initiating the Submodule
          command: |
            echo "cloning the repo and initiating the usagov-2021 submodule"
            git clone -b "$CIRCLE_BRANCH" "$CIRCLE_REPOSITORY_URL"
            cd px-benefit-finder
            git submodule init
            git submodule update
            cd usagov-2021
            git checkout prod


      - run:
          name: Moving the benefit-finder app into usagov-2021 module
          command: |
            cd px-benefit-finder
            bash ./mv-benefit-finder-app.sh
            echo ".................."
            echo "moving the benefit-finder-app module into the usagov-2021 directory"
            rm -r usagov-2021/web/modules/custom/usagov_benefit_finder/*
            mv usagov_benefit_finder/* usagov-2021/web/modules/custom/usagov_benefit_finder/
            mv html.html.twig usagov-2021/web/themes/custom/usagov/templates/html.html.twig
            mv bin/cloudgov/entrypoint.sh usagov-2021/scripts/entrypoint.sh
            mv bin/cloudgov/static-generation.sh usagov-2021/scripts/static-generation.sh
            mv bin/cloudgov/bf-tome-run.sh usagov-2021/scripts/bf-tome-run.sh
            mv bin/cloudgov/bf-tome-static.sh usagov-2021/scripts/bf-tome-static.sh
            mv bin/cloudgov/bf-tome-status-indicator-update.sh usagov-2021/scripts/bf-tome-status-indicator-update.sh
            mv bin/cloudgov/bf-tome-sync.sh usagov-2021/scripts/bf-tome-sync.sh
            mv bin/cloudgov/cf-install.sh usagov-2021/scripts/cf-install.sh

      - run: 
          name: Pre-docker-build configurations
          command: |
            cd px-benefit-finder/usagov-2021
            sed -i "s/memory_limit       = 1G/memory_limit       = 500M/g" .docker/src-cms/etc/php81/php.ini
            mv .docker/Dockerfile-cms .
            sed -i 's/80/8080/g' Dockerfile-cms
            sed -i 's/ENTRYPOINT/CMD/' Dockerfile-cms
            sed -i 's/storage/benefit-finder-static-dev/g' scripts/tome-sync.sh scripts/tome-static.sh scripts/tome-run.sh
            sed -i 's/\["s3"\]\[\]?/s3\[\]/g' scripts/tome-run.sh scripts/tome-sync.sh
            sed -i 's/80/8080/g' .docker/src-cms/etc/nginx/partials/cms.conf.tmpl
            sed -i 's/80/8080/g' .docker/src-cms/etc/nginx/partials/www.conf.tmpl
            sed -i "s/\$service\['name'\] === 'database'/stristr(\$service\['name'\], 'mysql')/"  web/sites/default/settings.php
            sed -i "s/\$settings\['hash_salt'\] = \$service\['credentials'\]\['HASH_SALT'\]/\$settings\['hash_salt'\] = \$service\['credentials'\]\['hash_salt'\]/"  web/sites/default/settings.php
            sed -i "s/\$service\['name'\] === 'storage'/stristr(\$service\['name'\], 'storage')/"  web/sites/default/settings.php
            sed -i "s/\$service\['name'\] === 'secrets'/stristr(\$service\['name'\], 'secrets')/"  web/sites/default/settings.php

      - run: 
          name: Building, tagging, pushing the Docker Image
          command: |
            export IMAGE_TAG=$( echo $CIRCLE_WORKFLOW_ID | cut -b -8 )
            export DOCKERREPO="ghcr.io/gsa/px-benefit-finder/benefit-finder-cms"
            cd px-benefit-finder/usagov-2021
            docker build -f ./Dockerfile-cms -t "$DOCKERREPO:$IMAGE_TAG" .
            echo "$CR_PAT" | docker login ghcr.io --username "$GH_USERNAME" --password-stdin
            docker push "$DOCKERREPO:$IMAGE_TAG"
            docker logout
            

      - run:
          name: Injecting container name to the manifest.yml
          command: |
            echo "......"
            export CIRCLE_BRANCH="dev"
            echo $CIRCLE_BRANCH
            echo "......"
            export IMAGE_TAG=$( echo $CIRCLE_WORKFLOW_ID | cut -b -8 )
            export DOCKERREPO="ghcr.io/gsa/px-benefit-finder/benefit-finder-cms"
            cd px-benefit-finder/usagov-2021
            sed -i "s#^    image: .*cms-latest*#    image: $DOCKERREPO:$IMAGE_TAG#" manifest.yml
            sed -i "s#^    - secauthsecrets##" manifest.yml
            sed -i "s#- name: cms#- name: benefit-finder-cms-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^  memory: 1.5G#  memory: 512M#" manifest.yml
            sed -i "s#^    - database#    - benefit-finder-mysql-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^    - secrets#    - benefit-finder-secrets-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^    - storage#    - benefit-finder-storage-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^    - dbstorage#    - benefit-finder-static-${CIRCLE_BRANCH}#" manifest.yml
            cat manifest.yml

      - run:
          name: Setup CF CLI
          command: |
            export CIRCLE_BRANCH="dev"
            if [ "$(whoami)" != "root" ]; then
              wget -U "" -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
              echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
              sudo apt-get update
              sudo apt-get install -y cf8-cli
            else
              wget -U "" -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | apt-key add -
              echo "deb https://packages.cloudfoundry.org/debian stable main" | tee /etc/apt/sources.list.d/cloudfoundry-cli.list
              apt-get update
              apt-get install -y cf8-cli
            fi
            cf -v
            cf login -a https://api.fr.cloud.gov -u "$CF_USER" -p "$CF_PASSWORD" -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"  

      - run:
          name: Deploy the app to cloud.gov
          command: |
            export CIRCLE_BRANCH="dev"
            export IMAGE_TAG=$( echo $CIRCLE_WORKFLOW_ID | cut -b -8 )
            export DOCKERREPO="ghcr.io/gsa/px-benefit-finder/benefit-finder-cms"
            cf login -a https://api.fr.cloud.gov -u "$CF_USER" -p "$CF_PASSWORD" -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"
            cf target -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"
            cf services
            cd px-benefit-finder/usagov-2021
            echo "$CR_PAT" | docker login ghcr.io --username "$GH_USERNAME" --password-stdin
            CF_DOCKER_PASSWORD=$( echo $CR_PAT) cf push benefit-finder-cms-${CIRCLE_BRANCH}  --docker-image "$DOCKERREPO:$IMAGE_TAG" --docker-username "$CF_USER"
            docker logout


  build_and_deploy_main:
    machine:
      image: ubuntu-2004:202107-02

    steps:
      - run:
          name: Cloning the Repo and initiating the Submodule
          command: |
            echo "cloning the repo and initiating the usagov-2021 submodule"
            git clone -b "$CIRCLE_BRANCH" "$CIRCLE_REPOSITORY_URL"
            cd px-benefit-finder
            git submodule init
            git submodule update
            cd usagov-2021
            git checkout prod


      - run:
          name: Moving the benefit-finder app into usagov-2021 module
          command: |
            cd px-benefit-finder
            bash ./mv-benefit-finder-app.sh
            echo ".................."
            echo "moving the benefit-finder-app module into the usagov-2021 directory"
            rm -r usagov-2021/web/modules/custom/usagov_benefit_finder/*
            mv usagov_benefit_finder/* usagov-2021/web/modules/custom/usagov_benefit_finder/
            mv html.html.twig usagov-2021/web/themes/custom/usagov/templates/html.html.twig
            mv bin/cloudgov/entrypoint.sh usagov-2021/scripts/entrypoint.sh
            # mv bin/cloudgov/static-generation.sh usagov-2021/scripts/static-generation.sh

      - run: 
          name: Pre-docker-build configurations
          command: |
            cd px-benefit-finder/usagov-2021
            mv .docker/Dockerfile-cms .
            sed -i 's/80/8080/g' Dockerfile-cms  
            sed -i 's/ENTRYPOINT/CMD/' Dockerfile-cms
            sed -i 's/80/8080/g' .docker/src-cms/etc/nginx/partials/cms.conf.tmpl
            sed -i 's/80/8080/g' .docker/src-cms/etc/nginx/partials/www.conf.tmpl
            sed -i "s/\$service\['name'\] === 'database'/stristr(\$service\['name'\], 'mysql')/"  web/sites/default/settings.php
            sed -i "s/\$settings\['hash_salt'\] = \$service\['credentials'\]\['HASH_SALT'\]/\$settings\['hash_salt'\] = \$service\['credentials'\]\['hash_salt'\]/"  web/sites/default/settings.php
            sed -i "s/\$service\['name'\] === 'storage'/stristr(\$service\['name'\], 'storage')/"  web/sites/default/settings.php
            sed -i "s/\$service\['name'\] === 'secrets'/stristr(\$service\['name'\], 'secrets')/"  web/sites/default/settings.php
          
      - run: 
          name: Building, tagging, pushing the Docker Image
          command: |
            export IMAGE_TAG=$( echo $CIRCLE_WORKFLOW_ID | cut -b -8 )
            export DOCKERREPO="ghcr.io/gsa/px-benefit-finder/benefit-finder-cms"
            cd px-benefit-finder/usagov-2021
            docker build -f ./Dockerfile-cms -t "$DOCKERREPO:$IMAGE_TAG" .
            echo "$CR_PAT" | docker login ghcr.io --username "$GH_USERNAME" --password-stdin
            docker push "$DOCKERREPO:$IMAGE_TAG"
            docker logout
            

      - run:
          name: Injecting container name to the manifest.yml
          command: |
            echo "......"
            echo $CIRCLE_BRANCH
            echo "......"
            export IMAGE_TAG=$( echo $CIRCLE_WORKFLOW_ID | cut -b -8 )
            export DOCKERREPO="ghcr.io/gsa/px-benefit-finder/benefit-finder-cms"
            cd px-benefit-finder/usagov-2021
            sed -i "s#^    image: .*cms-latest*#    image: $DOCKERREPO:$IMAGE_TAG#" manifest.yml
            sed -i "s#^    - secauthsecrets##" manifest.yml
            sed -i "s#- name: cms#- name: benefit-finder-cms-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^  memory: 1.5G#  memory: 512M#" manifest.yml
            sed -i "s#^    - database#    - benefit-finder-mysql-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^    - secrets#    - benefit-finder-secrets-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^    - storage#    - benefit-finder-storage-${CIRCLE_BRANCH}#" manifest.yml
            sed -i "s#^    - dbstorage##" manifest.yml
            sed -i '16i\  command: ./scripts/entrypoint.sh' manifest.yml
            cat manifest.yml

      - run:
          name: Setup CF CLI
          command: |
            if [ "$(whoami)" != "root" ]; then
              wget -U "" -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
              echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
              sudo apt-get update
              sudo apt-get install -y cf8-cli
            else
              wget -U "" -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | apt-key add -
              echo "deb https://packages.cloudfoundry.org/debian stable main" | tee /etc/apt/sources.list.d/cloudfoundry-cli.list
              apt-get update
              apt-get install -y cf8-cli
            fi
            cf -v
            cf login -a https://api.fr.cloud.gov -u "$CF_USER" -p "$CF_PASSWORD" -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"

      - run:
          name: Deploy the app to cloud.gov
          command: |
            export IMAGE_TAG=$( echo $CIRCLE_WORKFLOW_ID | cut -b -8 )
            export DOCKERREPO="ghcr.io/gsa/px-benefit-finder/benefit-finder-cms"
            cf login -a https://api.fr.cloud.gov -u "$CF_USER" -p "$CF_PASSWORD" -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"
            cf target -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"
            cf services
            cd px-benefit-finder/usagov-2021
            echo "$CR_PAT" | docker login ghcr.io --username "$GH_USERNAME" --password-stdin
            CF_DOCKER_PASSWORD=$( echo $CR_PAT) cf push benefit-finder-cms-${CIRCLE_BRANCH}  --docker-image "$DOCKERREPO:$IMAGE_TAG" --docker-username "$CF_USER"
            docker logout

  component-library:
    machine:
      image: ubuntu-2004:202107-02

    steps:
      - run:
          name: Cloning the Repo and initiating the Submodule
          command: |
            echo "cloning the repo and initiating the usagov-2021 submodule"
            git clone -b "$CIRCLE_BRANCH" "$CIRCLE_REPOSITORY_URL"
            cd px-benefit-finder
            git submodule init
            git submodule update

      - run:
          name: Setup CF CLI
          command: |
            if [ "$(whoami)" != "root" ]; then
              wget -U "" -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
              echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
              sudo apt-get update
              sudo apt-get install -y cf8-cli
            else
              wget -U "" -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | apt-key add -
              echo "deb https://packages.cloudfoundry.org/debian stable main" | tee /etc/apt/sources.list.d/cloudfoundry-cli.list
              apt-get update
              apt-get install -y cf8-cli
            fi
            cf -v
            cf login -a https://api.fr.cloud.gov -u "$CF_USER" -p "$CF_PASSWORD" -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"
            
      - run:
          name: Deploy Storybook
          command: |  
             cd px-benefit-finder/benefit-finder
             mv manifest.yml manifest.yml.tpl
             envsubst < manifest.yml.tpl > manifest.yml
             echo "---------------------------------------------"
             pwd
             ls -l
             cat manifest.yml
             echo "---------------------------------------------"
             nvm install node --reinstall-packages-from=node
             npm i @craco/craco
             npm run build
             cd .. 
             bash mv-uswds-usagov-theme.sh
             cd benefit-finder
             npm run build:storybook
             mv manifest.yml storybook-static/
             mv Staticfile storybook-static/
             mv nginx storybook-static/
             cd storybook-static
             echo "${storybook_username}:${storybook_password}" > Staticfile.auth
             cf push benefit-finder-storybook-${CIRCLE_BRANCH}        

  lint:
    docker:
      - image: cimg/php:8.0.16-node
    steps:
      - checkout
      - run: 
          name: Init and Update USAGov submodule
          command: |
            git submodule init
            git submodule update
            cd usagov-2021
            git checkout dev
            cd ..

      - run:
          name: Install Specific Node Version
          command: |
            set +e
            wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
            nvm install v18.3.0
            nvm alias default 18.3.0
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            echo "Install Gulp on node "$(node --version)
            sudo npm install --global gulp-cli
      - run:
          name: build benefit-finder app
          command: |
            bash mv-benefit-finder-app.sh

      - run:
          name: Install Linters and Sniffers
          command: |
            npm install --prefix ./benefit-finder
            composer global require --dev drupal/coder php-parallel-lint/php-parallel-lint squizlabs/php_codesniffer=*
            COMPOSER_DIR=$(composer -n config --global home)
            $COMPOSER_DIR/vendor/bin/phpcs --config-set installed_paths $COMPOSER_DIR/vendor/drupal/coder/coder_sniffer,$COMPOSER_DIR/vendor/sirbrillig/phpcs-variable-analysis,$COMPOSER_DIR/vendor/slevomat/coding-standard
            mkdir -p /tmp/results
            touch /tmp/results/php-lint.log
            touch /tmp/results/php-cs.log
            touch /tmp/results/theme-lint.log
      - run:
          name: PHP Lint
          command: |
            COMPOSER_DIR=$(composer -n config --global home)
            $COMPOSER_DIR/vendor/bin/parallel-lint -e php,module,inc,install,test,profile,theme ./benefit-finder ./benefit-finder | tee /tmp/results/php-lint.log
      - run:
          name: PHP CodeSniff (Ignore warnings)
          command: |
            COMPOSER_DIR=$(composer -n config --global home)
            $COMPOSER_DIR/vendor/bin/phpcs  --standard=./usagov-2021/.phpcs.xml.dist -v --warning-severity=0 ./usagov_benefit_finder | tee /tmp/results/php-cs.log
      - store_artifacts:
          path: /tmp/results
  
  static-site-generation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Setup CF CLI
          command: |
            export CIRCLE_BRANCH="dev"
            if [ "$(whoami)" != "root" ]; then
              wget -U "" -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
              echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
              sudo apt-get update
              sudo apt-get install -y cf8-cli
            else
              wget -U "" -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | apt-key add -
              echo "deb https://packages.cloudfoundry.org/debian stable main" | tee /etc/apt/sources.list.d/cloudfoundry-cli.list
              apt-get update
              apt-get install -y cf8-cli
            fi
            cf -v
            cf login -a https://api.fr.cloud.gov -u "$CF_USER" -p "$CF_PASSWORD" -o "$CF_ORG"  -s "benefit-finder-${CIRCLE_BRANCH}"         
      - run:
          name: "Run Drush Cron and Generate Static Site"
          command: |
            export CIRCLE_BRANCH="dev"
            cf run-task benefit-finder-cms-${CIRCLE_BRANCH} --command "pwd && ls -l && sh /var/www/scripts/bf-tome-run.sh" --name "benefit-finder-${CIRCLE_BRANCH}-ssg"  -k "2G" -m 350M

# Orchestrate our job run sequence
workflows:
# This workflow only gets triggered when there is a push to `main` and `dev` branches.
  cms_build_and_deploy_workflow:
    jobs:
      - build_and_deploy_dev:
          filters:
            branches:
              only: 
                - dev # 657-static-site-in-sandbox
      - build_and_deploy_main:
          filters:
            branches:
              only: 
                - main

  create-component-library-workflow:
    jobs:
      - component-library:
          filters:
            branches:
              only:
                - main
                - dev
  php-lint-code-snif:
    jobs:
      - lint
  static-site-generation:
    jobs:
      - static-site-generation:
          filters:
            branches:
              only: 
                - 657-static-site-in-sandbox




      
