@use '@styles/colors' as color;
@use '@styles/breakpoints' as *;
@use '@styles/functions' as *;
@use '@styles/space' as space;
@use '@styles/mixins' as *;

h1.bf-banner-heading {
  @include h1;
}

.bf-banner {
  position: relative;
  background-color: color.$officer-navy;
  padding: rem(45px) 0 rem(60px);
  margin: 0 auto space.$space-md-plus;
  color: color.$white;

  .bf-grid-container.grid-container {
    padding: 0 space.$space-md-gap;
  }

  .bf-banner-heading  {
    margin: 0 0 space.$space-md;
  }

  @media (width >= $desktop) {
    margin-bottom: space.$space-xl;
    padding: space.$space-xl space.$space-lg rem(38px);
  }
}

.bf-banner-description p {
  @include intro-text;

  margin-bottom: 0;
}

@media (width >= $desktop) {
  .bf-banner {
    padding-bottom: space.$space-xl;
    margin-bottom: space.$space-xl;
  }
}
