@use '../../styles/colors/_index.scss' as color;
@use '../../styles/breakpoints/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;
@use '../../styles/mixins/_index.scss' as *;

h1.bf-chevron-heading {
  @include h0;
}

.bf-chevron {
  position: relative;
  background-color: color.$usagov-backround-blue;
  padding: space.$space-xl space.$space-lg 38px;
  margin: 0 auto;
  color: color.$white;
  margin-bottom: 140px;

  .grid-container {
    max-width: 850px;
  }
}

.bf-chevron-description p {
  @include p;

  line-height: 25.92px;
}

.bf-chevron-description p strong {
  @include important-x-bold;

  line-height: 25.92px;
}

// triangle down
.bf-chevron::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 76px solid color.$usagov-backround-blue;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

@media (width >= $desktop) {
  .bf-chevron {
    padding-bottom: space.$space-xl;
    margin-bottom: space.$space-xl;
  }

  .bf-chevron::before {
    display: none;
  }
}
