@use '@styles/colors' as color;
@use '@styles/breakpoints' as *;
@use '@styles/functions' as *;
@use '@styles/space' as space;
@use '@styles/mixins' as *;

h1.bf-chevron-heading {
  @include h1;
}

.bf-chevron {
  position: relative;
  background-color: color.$officer-navy;
  padding: space.$space-xl 0 rem(38px);
  margin: 0 auto;
  color: color.$white;
  padding-bottom: space.$space-xl;
  margin-bottom: space.$space-xl;

  @media (width >= $desktop) {
    padding: space.$space-xl space.$space-lg rem(38px);
  }
}

.bf-chevron-description p {
  @include intro-text;
}

@media (width >= $desktop) {
  .bf-chevron {
    padding-bottom: space.$space-xl;
    margin-bottom: space.$space-xl;
  }
}
