$space-xs: 4px;
$space-sm: 8px;
$space-sm-plus: 12px;
$space-md: 16px;
$space-md-gap: 20px;
$space-md-plus: 24px;
$space-lg: 32px;
$space-lg-plus: 40px;
$space-xl: 64px;
$space-xl-plus: 86px;
$padding-bottom-sm: $space-sm;
$padding-bottom-md: $space-md;
$padding-bottom-md-plus: $space-md-plus;
$padding-bottom-lg: $space-lg;
$padding-bottom-xl: $space-xl;
