@use '@styles/functions' as *;

// banner containers
$space-banner-grid-container-mobile: 0 0 0 rem(36px);
$space-banner-grid-container-desktop: 0 0 0 rem(36px);

// intro containers
$space-intro-grid-container-mobile: 0 0 0 rem(36px);
$space-intro-grid-container-desktop: 0 0 0 rem(36px);
