@use '../../../../styles/colors/_index.scss' as color;
@use '../../../../styles/breakpoints/_index.scss' as *;
@use '../../../../styles/space/_index.scss' as space;
@use '../../../../styles/mixins/_index.scss' as *;
@use '../../../../styles/functions/_index.scss' as *;

.bf-result-view-details {
  padding: space.$space-lg;
}

.bf-result-view-benefits,
.bf-result-view-unmet,
.bf-result-view-relvant-benefits,
.bf-result-view-share-results {
  padding: space.$space-md 0;
  border-bottom: rem(2px) solid color.$base-light-grey;
}

.bf-result-view-unmet {
  p {
    padding-bottom: space.$padding-bottom-md;
  }

  .bf-result-view-cta-wrapper {
    display: flex;
    justify-content: center;
  }
}

.bf-result-view-unmet-heading {
  @include h4;
}

.bf-result-view-relvant-benefits-heading {
  @include h4;
}

.bf-result-view-share-results-heading {
  @include h4;
}

.bf-result-view-share-results {
  text-align: left;
}

@media (width >= $desktop) {
  .bf-result-view-details {
    padding: space.$space-md-plus 5.4rem;
  }
}
