{
  "src/**/*.{js,jsx}": [
    "prettier --write",
    "eslint . --fix",
    "cross-env CI=true react-scripts test --env=jsdom --findRelatedTests"
  ],
  "src/**/*.scss": [
    "stylelint --fix"
  ]
}
