.relative-benefit-card {
  /* stylelint-disable selector-class-pattern */
  .usa-card__container {
    background-color: #d9e8f6;
    border-radius: 4px;
    color: #162e51;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  a:hover .usa-card__container {
    background-color: #b6dbfd;
  }

  a:active .usa-card__container {
    border: 2px solid #005ea2;
  }

  .usa-card__header {
    padding-bottom: 0;
  }

  .usa-card__body {
    padding-top: 0;
    padding-bottom: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* stylelint-enable selector-class-pattern */
}
