@use '../../styles/colors/_index.scss' as color;
@use '../../styles/space/index.scss' as space;
@use '../../styles/breakpoints/_index.scss' as *;
@use '../../styles/mixins/_index.scss' as *;

.bf-usa-form-group {
  width: 100%;
}

.bf-usa-memorable-date {
  max-width: 320px;
  flex-wrap: wrap;
}

.bf-usa-input {
  border-radius: 3px;

  @include p;

  &.usa-input--error {
    padding: 8px;
    height: initial;
    border-radius: 3px;
    border-color: color.$alert-red;
  }
}

.bf-usa-form-group--month {
  width: 242px;
  margin-top: space.$space-sm;
}

.bf-usa-form-group--day {
  width: 64px;
  margin-top: space.$space-sm;
}

.bf-usa-form-group--year {
  width: 95px;
  margin-top: space.$space-sm;
}

@media (width >= $desktop) {
  .bf-usa-memorable-date {
    max-width: 100%;
  }
}
