.bf-usa-button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #000;
  color: #000;
}

.bf-usa-button--outline:focus {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fff;
  color: #000;
}
