@use '../../styles/space/_index.scss' as space;
@use '../../styles/functions/_index.scss' as *;
@use '../../styles/colors/_index.scss' as colors;

.bf-usa-button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 rem(2px) #000;
  color: colors.$pure-black;

  &:focus {
    box-shadow: inset 0 0 0 rem(2px) #fff;
  }

  &:hover {
    background-color: colors.$base-light-grey;
  }
}
