@use '@styles/functions' as *;
@use '@styles/mixins' as *;
@use '@styles/colors' as colors;

.bf-usa-button {
  @include important-bold($font-family: 'sans');

  padding: rem(16px) rem(20px);
  font-size: rem(17.6px);
}

.bf-usa-button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 rem(2px) #000;
  color: colors.$pure-black;

  &:focus {
    box-shadow: inset 0 0 0 rem(2px) #fff;
  }

  &:hover {
    background-color: colors.$base-light-grey;
  }
}
