@use '../../styles/space/_index.scss' as space;
@use '../../styles/functions/_index.scss' as *;

.bf-usa-button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 rem(2px) #000;
  color: #000;
}

.bf-usa-button--outline:focus {
  background-color: transparent;
  box-shadow: inset 0 0 0 rem(2px) #fff;
  color: #000;
}
