@use '../../styles/colors/_index.scss' as color;

#benefit-finder {
  .usa-button {
    background-color: color.$pop-blue !important;
    color: color.$white !important;
  }
  /* stylelint-disable selector-class-pattern */
  .usa-button--unstyled {
    background-color: transparent !important;
    color: color.$pop-blue !important;
  }

  .usa-button.usa-button--unstyled:hover {
    background-color: transparent !important;
    color: color.$pop-blue !important;
  }

  .usa-button:hover {
    background-color: color.$marine !important;
    color: color.$white !important;
  }

  .usa-button--outline {
    background-color: color.$white !important;
    box-shadow: inset 0 0 0 2px color.$pop-blue !important;
    color: color.$pop-blue !important;
  }

  .usa-button--outline:hover {
    background-color: color.$white !important;
    box-shadow: inset 0 0 0 2px color.$marine !important;
    color: color.$marine !important;
  }
  /* stylelint-enable selector-class-pattern */
}
