@use '../../styles/colors/index.scss' as color;

form.bf-usa-form {
  font-family: 'Public Sans', sans-serif;
  background-color: color.$officer-navy;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}
