@use '../../styles/colors/index.scss' as color;
@use '@styles/sizes' as size;
@use '@styles/breakpoints' as *;
@use '@styles/functions' as *;

form.bf-usa-form {
  height: 100%;
  min-height: 100vh;
  margin: 0;

  .bf-grid-container.grid-container {
    max-width: size.$form-container-max-width;

    @media (width >= $desktop) {
      padding: 0;
    }
  }
}
