@use '../../styles/colors/index.scss' as color;
@use '@styles/functions' as *;

form.bf-usa-form {
  height: 100%;
  min-height: 100vh;
  margin: 0;

  .bf-grid-container.grid-container {
    max-width: rem(1234px)
  }
}
