@use '../../styles/colors/index.scss' as color;
@use '@styles/sizes' as *;
@use '@styles/space' as space;
@use '@styles/breakpoints' as *;
@use '@styles/functions' as *;

form.bf-usa-form {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: color.$officer-navy;
  padding-bottom: space.$padding-bottom-xl;

  .bf-grid-container.grid-container {
    max-width: $form-container-max-width;
    padding: 0 space.$space-md-gap;

    @media (width >= calc($form-container-max-width + space.$space-md-plus)) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
