@use '../../styles/colors/_index.scss' as color;
@use '../../styles/breakpoints/_index.scss' as *;

#benefit-finder {
  .result-view-details {
    padding: 24px;

    button.step-back-link {
      color: color.$medium-grey !important;
      background-color: #fff !important;
      width: auto !important;
    }
  }

  .result-view-benefits,
  .result-view-unmet,
  .result-view-relvant-benefits,
  .result-view-share-results {
    padding: 16px 0;
    border-bottom: 2px solid color.$base-light-grey;
  }

  .result-view-unmet {
    button {
      margin-bottom: 16px;
    }

    p {
      padding-bottom: 16px;
    }
  }

  .result-view-share-results {
    text-align: center;
  }

  .result-view-share-results-button-group {
    button {
      margin-bottom: 8px;
    }
  }

  @media (width >= $desktop) {
    .result-view-details {
      padding: 24px 164px;
    }
  }
}
