@use '../../styles/colors/_index.scss' as color;
@use '../../styles/breakpoints/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;
@use '../../styles/mixins/_index.scss' as *;

.bf-result-view-details {
  padding: space.$space-lg;

  button.step-back-link {
    color: color.$dark-medium-grey;
    background-color: color.$white;
    width: auto;
  }

  .bf-result-view-heading {
    @include h2;
  }

  .bf-result-view-description {
    @include h6;
  }
}

.bf-result-view-benefits,
.bf-result-view-unmet,
.bf-result-view-relvant-benefits,
.bf-result-view-share-results {
  padding: space.$space-md 0;
  border-bottom: 2px solid color.$base-light-grey;
}

.bf-result-view-unmet {
  button {
    margin-bottom: space.$space-md;
    width: 100%;
  }

  p {
    padding-bottom: space.$padding-bottom-md;
  }
}

.bf-result-view-unmet-heading {
  @include h6;

  text-align: center;
}

.bf-result-view-relvant-benefits-heading {
  @include h6;

  text-align: center;
}

.bf-result-view-share-results-heading {
  @include h4;

  text-align: center;
}

.bf-result-view-share-results {
  text-align: center;
}

.bf-result-view-share-results-button-group {
  button {
    margin-bottom: space.$space-sm;
  }
}

@media (width >= $desktop) {
  .bf-result-view-details {
    padding: space.$space-md-plus 164px;
  }
}
