@use '../../styles/colors/_index.scss' as color;
@use '../../styles/breakpoints/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

#benefit-finder {
  .result-view-details {
    padding: space.$space-lg;

    button.step-back-link {
      color: color.$medium-grey !important;
      background-color: color.$white !important;
      width: auto !important;
    }
  }

  .result-view-benefits,
  .result-view-unmet,
  .result-view-relvant-benefits,
  .result-view-share-results {
    padding: space.$space-md 0;
    border-bottom: 2px solid color.$base-light-grey;
  }

  .result-view-unmet {
    button {
      margin-bottom: space.$space-md;
    }

    p {
      padding-bottom: space.$padding-bottom-md;
    }
  }

  .result-view-share-results {
    text-align: center;
  }

  .result-view-share-results-button-group {
    button {
      margin-bottom: space.$space-sm;
    }
  }

  @media (width >= $desktop) {
    .result-view-details {
      padding: space.$space-md-plus 164px;
    }
  }
}
