// ['regular', 'bold', 'extrabold', 'light', 'thin']
@use '../../styles/mixins/_index.scss' as *;

p,
p.regular {
  @include p1;
}

p.bold {
  @include important-bold-sans;
}

p.extrabold {
  @include important-x-bold;
}

p.light {
  @include p3-sans;
}

p.thin {
  @include p3-sans;

  font-weight: 100;
}
