// ['regular', 'bold', 'extrabold', 'light', 'thin']
@use '../../styles/mixins/_index.scss' as *;

p,
p.regular {
  @include p($font-family: 'sans');
}

p.bold {
  @include important-bold($font-family: 'sans');
}
