@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;

.no-background {
  background-color: color.$white;
  border-left-color: color.$white;
}

h2.bf-usa-alert__heading {
  @include h5($font-family: 'sans');
}

.bf-errors-list-item a {
  @include p;
}
