@use '@styles/colors' as color;
@use '@styles/mixins' as *;
@use '@styles/breakpoints' as *;
@use '@styles/functions' as *;


h2.bf-usa-alert__heading {
  @include h5($font-family: 'sans');
}

.bf-usa-alert {
  padding: rem(25px) 0;

  ul a {
    font-size: rem(15px);

    @media (width>= $desktop) {
      @include p;
    }
  }
}

@media (width<= $desktop) {
  .bf-usa-alert__body {
    padding-left: rem(40px);
  }

  ul {
    padding-left: 0;
  }

  .bf-usa-alert::before {
    width: rem(15px);
    height: rem(62px);
  }
}
