@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;

.no-background {
  background-color: color.$white;
  border-left-color: color.$white;
}

h4.bf-usa-alert__heading {
  @include h6;
}

.bf-usa-alert__text {
  @include p2;
}
