@use '@styles/colors' as color;
@use '@styles/mixins' as *;
@use '@styles/functions' as *;
@use '@styles/space' as space;

.bf-usa-accordion {
  .bf-usa-accordion__button {
    position: relative;

    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      right: rem(20px);
      margin: auto 0;
    }

    .bf-accordion-heading {
      @include h5($font-family: 'sans');

      letter-spacing: 0;
    }

    .bf-accordion-sub-heading {
      @include p;

      letter-spacing: 0;
    }
  }

  .bf-usa-accordion__content {
    padding: 0 space.$space-md-gap-sm space.$space-lg-plus space.$space-md-gap-sm;
  }
}
