@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

#benefit-finder {
  .benefit-accordion {
    .usa-accordion__button {
      position: relative;

      svg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        margin: auto 0;
      }

      &[aria-expanded='true'] {
        background-image: none;
        background-color: color.$marine;
        color: color.$white;
      }

      &[aria-expanded='false'] {
        background-image: none;
        background-color: color.$sky;
        color: color.$marine;
      }

      .heading {
        @include h4;

        letter-spacing: 0;
      }

      .sub-heading {
        @include h5;

        letter-spacing: 0;
      }
    }

    .usa-accordion__content {
      border-bottom: 1px solid color.$pop-blue;
      border-left: 1px solid color.$pop-blue;
      border-right: 1px solid color.$pop-blue;
      padding-bottom: space.$space-md;
    }
  }
}
