@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/functions/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

.bf-usa-accordion {
  .bf-usa-accordion__button {
    position: relative;

    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      right: rem(20px);
      margin: auto 0;
    }

    .bf-accordion-heading {
      @include h5($font-family: 'sans');

      letter-spacing: 0;
    }

    .bf-accordion-sub-heading {
      @include p1;

      letter-spacing: 0;
    }
  }

  .bf-usa-accordion__content {
    padding: 0 space.$space-lg-plus space.$space-md space.$space-lg-plus;
  }
}
