@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

.verify-criteria-value {
  @include h6;

  margin-bottom: space.$space-lg;
  border-bottom: 1px solid color.$base-light-grey;
  padding-bottom: space.$padding-bottom-lg;
}

.verify-criteria-legend {
  @include p;

  padding-bottom: space.$padding-bottom-sm;
}

.verify-criteria-section-heading {
  @include h4;

  border-bottom: 2px solid color.$marine;
  padding-bottom: space.$padding-bottom-lg;
}
