#benefit-finder {
  .verify-criteria-value {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 148.5%;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 30px;
  }

  .verify-criteria-legend {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 148.5%;
    padding-bottom: 8px;
  }

  .verify-criteria-section-heading {
    border-bottom: 2px solid #1a4480;
    padding-bottom: 30px;
  }
}
