@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;

.bf-usa-hint--required {
  color: color.$dark-medium-grey;
}

.bf-required {
  color: color.$dark-medium-grey;
  font-weight: 400;
  margin-left: 10px;
}
