@use '@styles/colors' as color;
@use '@styles/space' as space;
@use '@styles/mixins' as *;

.bf-usa-hint--required {
  color: color.$dark-medium-grey;
}

.bf-required {
  color: color.$dark-medium-grey;
  font-weight: 400;
  margin-left: space.$space-sm;
}
