#usagov-bears-app {
  .notices-list {
    margin-bottom: 32px;
  }

  .notice {
    margin-bottom: 24px;
  }

  .line-sperator-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 32px;
  }

  .line-sperator {
    border-top: 2px solid lightgrey;
    width: 100%;
    height: 100%;
  }
}
