@use '../../styles/colors/_index.scss' as color;
@use '../../styles/space/_index.scss' as space;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/functions/_index.scss' as *;

.bf-key-eligibility-criteria-group {
  .bf-key-eligibility-criteria-heading {
    @include h6;

    background-color: color.$base-light-grey;
    padding: space.$space-md space.$space-lg;
    margin: 0;
  }

  .bf-key-eligibility-criteria-sub-heading {
    @include p2($font-family: 'sans');

    margin-bottom: 0;
  }

  .bf-key-eligibility-criteria-list {
    padding: 0;
    margin: 0;

    .bf-key-eligibility-criteria-list-item {
      @include list-items;

      margin: 0;
      padding: space.$space-md space.$space-lg;
      border: rem(2px) solid color.$base-light-grey;
      border-bottom: 0;
      display: flex;
      flex-wrap: nowrap;

      .bf-checkmark--green {
        height: 100%;
        margin-right: space.$space-lg;
      }
    }

    li.bf-usa-list {
      @include p2($font-family: 'sans');
    }

    &:last-child {
      border-bottom: rem(2px) solid color.$base-light-grey;
    }

    li.bf-usa-list {
      @include list-items;

      line-height: normal;
    }
  }
}

.bf-unmet-criteria-group {
  padding: space.$space-md-plus 0 0 space.$space-md-plus;

  .bf-unmet-criteria-title {
    @include h6;

    margin-bottom: space.$space-sm-plus;
  }

  li.bf-unmet-criteria-item {
    @include list-items;
  }
}
