@use '../../styles/breakpoints/_index.scss' as *;
@use '../../styles/sizes/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

.bf-intro {
  padding-bottom: space.$padding-bottom-lg;

  h2 {
    text-align: center;
  }

  .bf-cta-wrapper {
    display: flex;
    justify-content: center;
    margin: space.$space-lg space.$space-lg space.$space-xl;
  }

  .bf-cta-wrapper button {
    margin: 0 auto;
    width: $button-max-width;
  }

  @media (width >= $desktop) {
    .bf-intro-process-list {
      min-width: 50%;
    }

    .bf-intro-process-notices-heading {
      display: none;
    }

    .bf-intro-process-group {
      display: flex;
    }
  }
}
