@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

.bf-legend {
  @include h5($font-family: 'sans');

  margin: 0 0 space.$space-sm;
  padding: 0;
  max-width: fit-content;
}
