@use '../functions/index.scss' as *;

@mixin font-family($font-family) {
  @if $font-family == 'sans' {
    font-family: 'Source Sans Pro Web', 'Helvetica Neue', Helvetica, Roboto,
      Arial, sans-serif;
  } @else {
    font-family: 'Merriweather Web', Georgia, Cambria, 'Times New Roman', Times,
      serif;
  }
}

// USAGov font ratio is based on 16px
// for example h1 @ 2.44rem = 39.04px

// Our conversions
// 36px = 2.25rem
// 32px = 2rem
// 24px = 1.5rem
// 22px = 1.375rem
// 20px = 1.25rem
// 17px = 1.063rem
// 16px = 1rem
// 15px = 0.938rem

// Merriweather: 'serif'
// Source Sans Pro: 'sans'

@mixin h0($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(36px);
  font-weight: 800;
  line-height: 100%;
}

@mixin h1($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(32px);
  font-weight: 800;
  line-height: 45.79px;
}

@mixin h2($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(24px);
  font-weight: 800;
  line-height: 37.57px;
}

@mixin h3($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(22px);
  font-weight: 700;
  line-height: 24.65px;
}

@mixin h4($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(20px);
  font-weight: 800;
  line-height: 114.59%;
}

@mixin h5($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(22px);
  font-weight: 700;
  line-height: 34.44px;
}

@mixin h6($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(20px);
  font-weight: 700;
  line-height: 134.09%;
}

@mixin important-x-bold($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(16px);
  font-weight: 800;
  line-height: 18.8px;
}

@mixin important-bold($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(16px);
  font-weight: 700;
  line-height: 134.09%;
}

@mixin p($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(16px);
  font-weight: 400;
  line-height: 18.8px;
}

@mixin p1($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(17px);
  font-weight: 400;
  line-height: 18.8px;
}

@mixin p2($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(15px);
  font-weight: 400;
  line-height: 21.37px;
}

@mixin p3($font-family: 'serif') {
  @include font-family($font-family);

  font-size: rem(15px);
  font-weight: 200;
  line-height: 18.8px;
}

// other
@mixin list-items {
  font-size: rem(17px);
  font-weight: 400;
  line-height: 26px;
}
