@use '@styles/mixins' as *;
@use '@styles/colors' as color;
@use '@styles/space' as space;

.bf-usa-summary-box {
  @include h5($font-family: 'sans');

  margin-bottom: space.$space-md;
  border-color: color.$teal;

  .bf-usa-list {
    li {
      @include list-items;
    }
  }
}
