@use '@styles/mixins' as *;
@use '@styles/colors' as color;
@use '@styles/functions' as *;

.bf-usa-summary-box {
  @include h5($font-family: 'sans');

  margin-bottom: rem(16px);
  border-color: color.$teal;

  .bf-usa-list {
    li {
      @include list-items;
    }
  }
}
