@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/colors/_index.scss' as color;

.bf-usa-summary-box {
  @include h5($font-family: 'sans');

  border-color: color.$teal;

  .bf-usa-list {
    li {
      @include list-items;
    }
  }
}
