@use '@styles/colors' as color;
@use '@styles/mixins' as *;
@use '@styles/functions' as *;
@use '@styles/breakpoints' as *;
@use '@styles/space' as space;

.bf-usa-accordion-group {
  .bf-usa-accordion {
    margin-bottom: space.$space-sm-plus;

    .bf-usa-detail-title {
      margin-top: space.$space-md-plus;
      margin-bottom: space.$space-sm;
    }

    .bf-usa-detail-summary {
      p {
        margin-bottom: space.$space-md-gap-sm;

        @media (width >= $desktop) {
          margin-bottom: space.$space-md-plus;
        }
      }
    }

    .bf-key-eligibility-criteria-heading {
      @include h5($font-family: 'sans');
    }

    .bf-usa-accordion-group-cta-wrapper {
      display: flex;
      justify-content: center;
      margin-top: space.$space-md-gap-sm;

      @media (width >= $desktop) {
              margin-top: space.$space-lg;
      }

      .bf-usa-link {
        margin-bottom: space.$space-md;
      }
    }
  }

  .bf-expand-all {
    margin-bottom: space.$space-lg;
  }
}
