@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

.benefit-accordion-group {
  .benefit-accordion {
    margin-bottom: space.$space-md-plus;

    .benefit-accordion__button {
      border-radius: 3px;
    }

    .benefit-detail-title {
      @include h6;

      padding: 0;
      margin: 0 0 24px;
      text-align: left;
    }

    .benefit-detail-summary,
    .benefit-criteria-list,
    .benefit-alert {
      @include p;

      margin: 0 0 24px;
    }

    .unmet-criteria-group {
      margin: 0 0 24px;

      .unmet-criteria-title {
        @include p;

        width: 100%;
        text-align: center;
        color: color.$pure-black;
      }
    }

    .benefit-link {
      width: 100%;
      margin-bottom: space.$space-lg;
    }
  }

  .expand-all {
    @include p;

    background-color: transparent;
    color: color.$electric-blue;
    margin-bottom: space.$space-lg;
  }
}
