@use '@styles/colors' as color;
@use '@styles/mixins' as *;
@use '@styles/functions' as *;
@use '@styles/breakpoints' as *;

.bf-usa-accordion-group {
  .bf-usa-accordion {
    margin-bottom: rem(12px);

    .bf-usa-detail-title {
      margin-top: rem(24px);
      margin-bottom: rem(8px);
    }

    .bf-usa-detail-summary {
      p {
        margin-bottom: rem(18px);

        @media (width >= $desktop) {
          margin-bottom: rem(24px);
        }
      }
    }

    .bf-key-eligibility-criteria-heading {
      @include h5($font-family: 'sans');
    }

    .bf-usa-accordion-group-cta-wrapper {
      display: flex;
      justify-content: center;
      margin-top: rem(18px);

      @media (width >= $desktop) {
              margin-top: rem(32px);
      }

      .bf-usa-link {
        margin-bottom: rem(16px);
      }
    }
  }

  .bf-expand-all {
    margin-bottom: rem(32px);
  }
}
