@use '../../styles/colors/_index.scss' as color;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;

.bf-usa-accordion-group {
  .bf-usa-accordion {
    margin-bottom: space.$space-md-plus;

    .bf-usa-accordion__button {
      border-radius: 3px;
    }

    .bf-usa-detail-title {
      @include h6;

      padding: 0;
      margin: 0 0 24px;
      text-align: left;
    }

    .bf-usa-detail-summary,
    .bf-usa-criteria-list,
    .bf-usa-alert {
      @include p;

      margin: 0 0 24px;
    }

    .bf-unmet-criteria-group {
      margin: 0 0 24px;

      .bf-unmet-criteria-title {
        @include p;

        width: 100%;
        text-align: center;
        color: color.$pure-black;
      }
    }

    .bf-usa-link {
      width: 100%;
      margin-bottom: space.$space-lg;
    }
  }

  .bf-expand-all {
    @include p;

    background-color: transparent;
    color: color.$usagov-link-blue;
    margin-bottom: space.$space-lg;
  }
}
