$officer-navy: #162e51;
$marine: #1a4480;
$pop-blue: #005ea2;
$sky: #d9e8f6;
$dark-sky: #b6dbfd;
$off-black: #1b1b1b;
$white: #fff;
$banner-blue: #112f4e;
$medium-grey: #979797;
$dark-medium-grey: #3d4551;
$base-grey: #dcdee0;
$base-light-grey: #f0f0f0;
$light-teal: #e7f6f8;
$pure-black: #000;
$electric-blue: #0050d8;
$teal: #00bde3;
$alert-red: #b50909;
$usagov-backround-blue: #112f4e;
$usagov-green-check: #00a91c;
$usagov-link-blue: #1a4480;
$usagov-button-outline: #0081a1;
$usagov-button-background: #ccecf2;
$usagov-button-background-hover: #a7d8e3;
$usagov-secondary-button-outline: #0081a1;
$usagov-secondary-button-background: #ccecf2;
$usagov-secondary-button-background-hover: #a7d8e3;
