$officer-navy: #162e51;
$marine: #1a4480;
$pop-blue: #005ea2;
$sky: #d9e8f6;
$dark-sky: #b6dbfd;
$off-black: #1b1b1b;
$white: #fff;
$banner-blue: #112f4e;
$grey: #757575;
$medium-grey: #979797;
$dark-medium-grey: #3d4551;
$base-grey: #dcdee0;
$base-light-grey: #f0f0f0;
$light-teal: #d2ebf1;
$pure-black: #000;
$electric-blue: #0050d8;
$teal: #00bde3;
$medium-teal: #ccecf2;
$dark-teal: #0081a1;
$alert-red: #b50909;
$green-check: #009831;
