h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 134.09%;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 134.09%;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 134.09%;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 114.59%;
}

h5 {
  font-size: 16px;
  font-weight: 800;
  line-height: 134.09%;
}
