#usagov-bears-app {
  .intro {
    padding-bottom: 30px;

    h2 {
      text-align: center;
    }

    .cta-wrapper {
      margin: 32px 32px 64px;
    }

    @media (width >= 1049px) {
      .intro-process-list {
        min-width: 50%;
      }

      .intro-process-notices-heading {
        display: none;
      }

      .intro-process-group {
        display: flex;
      }

      .cta-wrapper {
        text-align: center;
      }

      .cta-wrapper button {
        margin: 0 auto;
        min-width: 420px;
      }
    }
  }
}
