{
  "src/**/*.{js,jsx}": [
    "prettier --write",
    "eslint . --fix",
    "vitest related --run"
  ],
  "src/**/*.{json}": [
    "eslint . --fix"
  ],
  "src/**/*.scss": [
    "stylelint --fix"
  ]
}
