@use '../../styles/colors/_index.scss' as color;
@use '../../styles/space/_index.scss' as space;
@use '../../styles/mixins/_index.scss' as *;

#benefit-finder {
  .notices-list {
    margin-bottom: space.$space-xl;
  }

  .notice {
    margin-bottom: space.$space-md-plus;
  }

  .notice-item {
    @include important-bold;
  }

  .line-sperator-wrapper {
    padding-top: space.$space-lg;
    padding-bottom: space.$padding-bottom-lg;
    margin: space.$space-lg;
  }

  .line-sperator {
    border-top: 2px solid color.$base-light-grey;
    width: 100%;
    height: 100%;
  }
}
