@use '@styles/colors' as color;
@use '@styles/mixins' as *;
@use '@styles/breakpoints' as *;
@use '@styles/functions' as *;

.bf-notices-list {
  margin-top: rem(36px);
  margin-bottom: rem(64px);
}

.bf-notice {
  display: flex;
  padding-bottom: rem(32px);

  .bf-info {
    margin-top: rem(4px);
    margin-right: rem(12px);
  }
}

.bf-line-separator-wrapper {
  display: block;
  padding-top: rem(32px);
  padding-bottom: rem(32px);
  margin: rem(32px);
}

.bf-line-separator {
  display: block;
  border-top: rem(2px) solid color.$base-light-grey;
  width: 100%;
  height: 100%;
}

.bf-line-separator-wrapper--vertical {
  display: none;
}

.bf-line-separator--vertical {
  display: none;
}

@media (width >= $desktop) {
  .bf-intro .bf-line-separator-wrapper {
    display: none;
  }

  .bf-intro .bf-line-separator {
    display: none;
  }

  .bf-line-separator-wrapper--vertical {
    display: block;
    padding-top: rem(128px);
    padding-bottom: rem(32px);
    margin: 0;
    margin-right: rem(32px);
  }

  .bf-line-separator--vertical {
    display: block;
    border-left: rem(2px) solid color.$base-light-grey;
    width: 100%;
    height: 100%;
  }
}
