@use '@styles/colors' as color;
@use '@styles/space' as space;
@use '@styles/mixins' as *;
@use '@styles/breakpoints' as *;
@use '@styles/functions' as *;

.bf-notices-list {
  margin-top: space.$space-lg-gap;
  margin-bottom: space.$space-xl;
}

.bf-notice {
  display: flex;
  padding-bottom: space.$padding-bottom-lg;

  .bf-info {
    margin-top: space.$space-xs;
    margin-right: space.$space-sm-plus;
  }
}

.bf-line-separator-wrapper {
  display: block;
  padding-top: space.$space-lg;
  padding-bottom: space.$padding-bottom-lg;
  margin: space.$space-lg;
}

.bf-line-separator {
  display: block;
  border-top: rem(2px) solid color.$base-light-grey;
  width: 100%;
  height: 100%;
}

.bf-line-separator-wrapper--vertical {
  display: none;
}

.bf-line-separator--vertical {
  display: none;
}

@media (width >= $desktop) {
  .bf-intro .bf-line-separator-wrapper {
    display: none;
  }

  .bf-intro .bf-line-separator {
    display: none;
  }

  .bf-line-separator-wrapper--vertical {
    display: block;
    padding-top: rem(128px);
    padding-bottom: space.$padding-bottom-lg;
    margin: 0;
    margin-right: space.$space-lg;
  }

  .bf-line-separator--vertical {
    display: block;
    border-left: rem(2px) solid color.$base-light-grey;
    width: 100%;
    height: 100%;
  }
}
