@use '../../styles/colors/_index.scss' as color;
@use '../../styles/space/_index.scss' as space;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/breakpoints/_index.scss' as *;

.bf-notices-list {
  margin-top: space.$space-md-plus;
  margin-bottom: space.$space-xl;
}

.bf-notice {
  display: flex;
  padding-bottom: space.$padding-bottom-lg;

  .bf-info {
    margin-top: space.$space-xs;
    margin-right: space.$space-sm-plus;
  }
}

.bf-notice-item {
  @include important-bold-sans;
}

.bf-line-sperator-wrapper {
  display: block;
  padding-top: space.$space-lg;
  padding-bottom: space.$padding-bottom-lg;
  margin: space.$space-lg;
}

.bf-line-sperator {
  display: block;
  border-top: 2px solid color.$base-light-grey;
  width: 100%;
  height: 100%;
}

.bf-line-sperator-wrapper--vertical {
  display: none;
}

.bf-line-sperator--vertical {
  display: none;
}

@media (width >= $desktop) {
  .bf-intro .bf-line-sperator-wrapper {
    display: none;
  }

  .bf-intro .bf-line-sperator {
    display: none;
  }

  .bf-line-sperator-wrapper--vertical {
    display: block;
    padding-top: space.$space-lg;
    padding-bottom: space.$padding-bottom-lg;
    margin: 0;
    margin-right: space.$space-lg;
  }

  .bf-line-sperator--vertical {
    display: block;
    border-left: 2px solid color.$base-light-grey;
    width: 100%;
    height: 80%;
  }
}
