@use '../../styles/colors/_index.scss' as color;
@use '../../styles/breakpoints/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;
@use '../../styles/sizes/_index.scss' as *;
@use '../../styles/mixins/_index.scss' as *;

.bf-usa-form,
.verify-selections-view {
  background-color: color.$officer-navy;
  margin: 0;
  padding-bottom: space.$padding-bottom-xl;
}

.section-wrapper {
  background-color: color.$white;
  border: 1px solid white;
  border-radius: 8px;

  button {
    margin-bottom: space.$space-md;
  }

  button.step-back-link {
    color: color.$dark-medium-grey;
    background-color: color.$white;
    width: auto;
  }
}

.section {
  margin: 50px 20px;
}

.section-nav-btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button,
  .bf-usa-modal-group a {
    width: $button-max-width;
    margin-bottom: space.$space-md;
  }
}

.section-heading {
  @include h3;

  background-color: color.$officer-navy;
  color: color.$white;
  margin: 0;
  padding: space.$space-xl space.$space-md;
}

.bf-usa-fieldset {
  padding-bottom: space.$padding-bottom-lg;
}

#bf-usa-section {
  padding-left: space.$space-md;
  padding-right: space.$space-md;
  padding-bottom: space.$padding-bottom-lg;
  margin-bottom: space.$space-lg-plus;
  border-bottom: 1px solid color.$base-light-grey;

  h2.bf-usa-section-heading {
    @include h3;
  }
}

.radio-group {
  display: flex;

  .bf-usa-radio__label {
    margin-right: space.$space-lg;
  }
}

@media (width >= $desktop) {
  .section {
    margin: space.$space-xl;
  }

  #bf-usa-section {
    padding-left: 0;
    padding-right: 0;
  }

  .radio-group {
    display: inline;
  }
}
