@use '../../styles/colors/_index.scss' as color;
@use '../../styles/breakpoints/_index.scss' as *;
@use '../../styles/space/_index.scss' as space;
@use '../../styles/sizes/_index.scss' as *;
@use '../../styles/mixins/_index.scss' as *;
@use '../../styles/functions/_index.scss' as *;

.bf-usa-form,
.bf-verify-selections-view {
  background-color: color.$officer-navy;
  margin: 0;
  padding-bottom: space.$padding-bottom-xl;
}

.bf-section-wrapper {
  background-color: color.$white;
  border: rem(1px) solid color.$white;
  border-radius: rem(8px);

  .bf-usa-button {
    margin-bottom: space.$space-md;
  }
}

.bf-section-info {
  margin: rem(50px) rem(20px);
}

.bf-section-nav-btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .bf-usa-button {
    min-width: rem(120px);
  }

  .bf-usa-button:first-of-type {
    margin-right: space.$space-lg-plus;
  }

  button,
  .bf-usa-modal-group a {
    margin-bottom: space.$space-md;
  }
}

.bf-section-heading {
  @include h2($font-family: 'serif');

  background-color: color.$officer-navy;
  color: color.$white;
  margin: 0;
  padding: space.$space-xl space.$space-md;
}

#bf-section {
  padding-left: space.$space-md;
  padding-right: space.$space-md;
  padding-bottom: space.$padding-bottom-lg;
  margin-bottom: space.$space-lg-plus;

  h2.bf-usa-section-heading {
    @include h2($font-family: 'sans');
  }

  .bf-usa-section-description p {
    @include p1($font-family: 'sans');
    @include h1;
  }

  .bf-form-heading-group {
    padding-bottom: space.$space-lg;

    h2.bf-form-heading {
      @include h1;

      margin-bottom: 0;
      padding-bottom: space.$padding-bottom-sm;
    }

    .bf-section-sub-heading p {
      margin: 0;
    }
  }
}

.bf-radio-group {
  display: flex;

  .bf-usa-radio__label {
    margin-right: space.$space-lg;
  }
}

@media (width >= $desktop) {
  .bf-section-info {
    margin: space.$space-xl;
  }

  #bf-section {
    padding-left: 0;
    padding-right: 0;
  }

  .bf-radio-group {
    display: inline;
  }
}
