@use '../../styles/colors/_index.scss' as color;
@use '../../styles/breakpoints/_index.scss' as *;

#benefit-finder {
  .benefit-form,
  .verify-selections-view {
    background-color: color.$marine;
    margin: 0 16px;
    padding-bottom: 64px;
  }

  .section-wrapper {
    background-color: color.$white;
    border: 1px solid white;
    border-radius: 8px;

    button {
      margin-bottom: 18px;
    }

    button.step-back-link {
      color: color.$medium-grey !important;
      background-color: color.$white !important;
      width: auto !important;
    }
  }

  .section {
    margin: 50px 20px;
  }

  .section-heading {
    background-color: color.$marine;
    color: color.$white;
    margin: 0;
    padding: 64px 16px;
  }

  .usa-fieldset {
    padding-bottom: 30px;
  }

  #benefit-section {
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid color.$base-light-grey;
  }

  .radio-group {
    display: flex;
    /* stylelint-disable selector-class-pattern */
    .usa-radio__label {
      margin-right: 32px;
    }
    /* stylelint-enable selector-class-pattern */
  }

  button,
  .benefit-modal-group a {
    width: 100%;
  }

  @media (width >= $desktop) {
    .section {
      margin: 50px 60px;
    }

    .radio-group {
      display: inline;
    }
  }
}
