@use '../../styles/colors/_index.scss' as color;
@use '../../styles/breakpoints/_index.scss' as *;
@use '../../styles/sizes/_index.scss' as *;
@use '../../styles/mixins/_index.scss' as *;

#benefit-finder {
  .benefit-form,
  .verify-selections-view {
    background-color: color.$marine;
    margin: 0 16px;
    padding-bottom: 64px;
  }

  .section-wrapper {
    background-color: color.$white;
    border: 1px solid white;
    border-radius: 8px;

    button {
      margin-bottom: 18px;
    }

    button.step-back-link {
      color: color.$dark-medium-grey !important;
      background-color: color.$white !important;
      width: auto !important;
    }
  }

  .section {
    margin: 50px 20px;
  }

  .section-nav-btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button,
    .benefit-modal-group a {
      width: $button-max-width;
    }
  }

  .section-heading {
    @include h3;

    background-color: color.$marine;
    color: color.$white;
    margin: 0;
    padding: 64px 16px;
  }

  .usa-fieldset {
    padding-bottom: 30px;
  }

  #benefit-section {
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid color.$base-light-grey;

    h2.benefit-section-heading {
      @include h3;
    }
  }

  .radio-group {
    display: flex;

    .usa-radio__label {
      margin-right: 32px;
    }
  }

  @media (width >= $desktop) {
    .section {
      margin: 60px;
    }

    .radio-group {
      display: inline;
    }
  }
}
