@use '../../styles/colors/_index.scss' as color;
@use '../../styles/space/_index.scss' as space;

.benefit-radio__label {
  padding-bottom: space.$padding-bottom-md-plus;
}

.benefit-input--error + .benefit-radio__label::before {
  box-shadow: 0 0 0 3px color.$alert-red;
}
