@use '../../styles/colors/_index.scss' as color;
@use '../../styles/space/_index.scss' as space;

.usa-radio__label {
  padding-bottom: space.$padding-bottom-md-plus;
}

.usa-input--error + .usa-radio__label::before {
  box-shadow: 0 0 0 3px color.$alert-red;
}
