@use '../../shared/styles/colors/_index.scss' as color;
@use '../../shared/styles/mixins/_index.scss' as *;
@use '../../shared/styles/functions/_index.scss' as *;
@use '../../shared/styles/space/_index.scss' as space;

.bf-verify-criteria-value {
  @include important-bold($font-family: 'sans');

  padding-bottom: space.$padding-bottom-lg-plus;
}

.bf-verify-criteria-legend {
  @include p;

  padding-bottom: space.$padding-bottom-sm;
}

.bf-verify-criteria-section-heading {
  border-bottom: rem(2px) solid color.$dark-teal;
  padding-bottom: space.$padding-bottom-sm;
}

.bf-verify-criteria-section:last-of-type {
  padding-bottom: space.$padding-bottom-xl;
}
