name: Clean up service keys

on:
  schedule:
    - cron: '30 4 * * *'

jobs:
  cleanup-service-keys-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set env.BRANCH
        run: echo "BRANCH=dev" >> $GITHUB_ENV
      - name: Install basic dependancies
        run: ./scripts/pipeline/deb-basic-deps.sh
      - name: Install Cloudfoundry CLI
        run: ./scripts/pipeline/deb-cf-install.sh
      - name: Cleanup keys (dev)
        shell: bash
        env:
          CF_USER: '${{ secrets.CF_USER }}'
          CF_PASSWORD: '${{ secrets.CF_PASSWORD }}'
          CF_ORG: '${{ secrets.CF_ORG }}'
          project: '${{ secrets.project }}'
        run: |
          source ./scripts/pipeline/cloud-gov-login.sh
          source ./scripts/pipeline/cloud-gov-cleanup-service-keys.sh
  cleanup-service-keys-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set env.BRANCH
        run: echo "BRANCH=main" >> $GITHUB_ENV
      - name: Install basic dependancies
        run: ./scripts/pipeline/deb-basic-deps.sh
      - name: Install Cloudfoundry CLI
        run: ./scripts/pipeline/deb-cf-install.sh
      - name: Cleanup keys (main)
        shell: bash
        env:
          CF_USER: '${{ secrets.CF_USER }}'
          CF_PASSWORD: '${{ secrets.CF_PASSWORD }}'
          CF_ORG: '${{ secrets.CF_ORG }}'
          project: '${{ secrets.project }}'
        run: |
          source ./scripts/pipeline/cloud-gov-login.sh
          source ./scripts/pipeline/cloud-gov-cleanup-service-keys.sh