name: Run Cypress Tests

on:
  workflow_dispatch:
  pull_request:

permissions: read-all

defaults:
  run:
    working-directory: ./benefit-finder

jobs:
  install:
    name: cypress-run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          cache-dependency-path: ""
          node-version-file: "./benefit-finder/package.json"

      - name: Install Submodule
        run: |
          cd ..
          git submodule init
          git submodule update
          cd benefit-finder

      - name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          component: true
          working-directory: benefit-finder
          build: "npm run cy:build:storybook"
          start: "npm run cy:run:pipeline"

      - uses: actions/upload-artifact@v3
        if: failure ()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
