name: Database Backup (dev)

on:
  workflow_call:
    secrets:
      CF_USER:
        required: true
      CF_PASSWORD:
        required: true
      CF_ORG:
        required: true
      PROJECT:
        required: true
  schedule:
    - cron: "0 0 * * *"

jobs:
  backup-database:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set env.BRANCH
        run: echo "BRANCH=dev" >> $GITHUB_ENV
      - name: Install basic dependancies
        run: ./scripts/pipeline/deb-basic-deps.sh
      - name: Install AWSCLI
        run: ./scripts/pipeline/awscli-install.sh
      - name: Install MySQL Client
        run: ./scripts/pipeline/deb-mysql-client-install.sh
      - name: Install Cloudfoundry CLI
        run: ./scripts/pipeline/deb-cf-install.sh
      - name: Backup Database (dev)
        shell: bash
        env:
          CF_USER: "${{ secrets.CF_USER }}"
          CF_PASSWORD: "${{ secrets.CF_PASSWORD }}"
          CF_ORG: "${{ secrets.CF_ORG }}"
          PROJECT: "${{ secrets.PROJECT }}"
        run: |
          export TIMESTAMP=$(date --utc +%FT%TZ | tr ':', '-')
          source ./scripts/pipeline/cloud-gov-login.sh
          source ./scripts/pipeline/database-backup.sh
          source ./scripts/pipeline/s3-backup-upload.sh
