name: Update Submodule Hash

on:
  workflow_dispatch: # Allows manual trigger

jobs:
  update-submodule:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository without submodules
        uses: actions/checkout@v4
        with:
          submodules: false # Do not checkout submodules initially
          fetch-depth: 0 # Necessary to fetch all history for branch creation

      # Set up GitHub CLI
      - name: Set up GitHub CLI
        run: sudo apt-get install gh -y

      # Authenticate GitHub CLI
      - name: Authenticate GitHub CLI
        env:
          GITHUB_TOKEN: ${{ secrets.ADD_TO_PROJECT_PAT }}
        run: |
          gh auth login --with-token <<< $GITHUB_TOKEN

      - name: Make PR Branch
        run: |
          git checkout -b update-submodule-hash-${{ github.run_id }}

      - name: Initialize and update submodule
        continue-on-error: true # This step won't fail the workflow if an error occurs
        run: |
          git submodule update --init --recursive usagov-2021

      - name: Update submodule to latest commit
        run: |
          cd usagov-2021/
          git config --global user.name "Hash Pipeline"
          git config --global user.email "hash@pipeline.com"
          git fetch origin
          latest_commit=$(git rev-parse origin/prod)  # Get latest commit hash of the submodule
          git checkout $latest_commit
          cd ..
          git add usagov-2021
          git commit --allow-empty -m "Updated submodule to latest commit $latest_commit"
          git push origin HEAD:update-submodule-hash-${{ github.run_id }}

      - name: Create Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.ADD_TO_PROJECT_PAT }}
        run: |
          gh pr create \
          --title "Automated PR from update-submodule-hash-${{ github.run_id }} to ${{ github.ref_name }}" \
          --body "This PR was automatically created by GitHub Actions." \
          --base ${{ github.ref_name }} \
          --head update-submodule-hash-${{ github.run_id }} \
          --repo ${{ github.repository }}

      - name: Assign Pull Request
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.ADD_TO_PROJECT_PAT }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/issues/$PR_NUMBER/assignees \
            -d '{"assignees":["scottqueen-bixal"]}'
        env:
          PR_NUMBER: ${{ steps.create-pull-request.outputs.pull-request-number }}
