name: Update Submodule Hash

on:
  workflow_dispatch: # Allows manual trigger

jobs:
  update-submodule:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository without submodules
        uses: actions/checkout@v4
        with:
          submodules: false # Do not checkout submodules initially
          fetch-depth: 0 # Fetch all history

      - name: Set up Git
        run: |
          git config --global user.name "Hash Pipeline"
          git config --global user.email "hash@pipeline.com"

      - name: Update submodules on release branch
        run: |
          # Checkout the release branch
          git checkout release

          # Update and initialize submodules
          git submodule update --init --recursive

          # Commit the changes
          git add .
          git commit --allow-empty -m "Updated submodule to the latest commit on release branch"

          # Push changes to release branch
          git push origin release

      - name: Sync release to main
        run: |
          # Switch to the main branch
          git checkout main

          # Pull changes from release into main
          git pull origin release

          # Push updated main branch
          git push origin main

      - name: Sync release to dev
        run: |
          # Switch to the dev branch
          git checkout dev

          # Pull changes from release into dev
          git pull origin release

          # Push updated dev branch
          git push origin dev
