name: Custom create release action

on:
  # This workflow will be triggered manually and create a draft release for review. It can be published manually once reviewed.
  workflow_dispatch:
    inputs:
      # You will enter the tag name from the UI once you trigger this pipeline.
      tag_name: 
        description: "What is the tag you would like to publish?"
        required: true  
    
permissions:
  issues: write
  contents: write

jobs:
  release-benefit-finder:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: release

    - name: Build benefit-finder module
      run: |
        pwd
        ls -l usagov_benefit_finder/modules/
        bash ./mv-benefit-finder-app.sh
        ls -l

    - name: Compress the module
      run: |
        tar -cvzf "benefit-finder-${{ github.event.inputs.tag_name }}.tar.gz" usagov_benefit_finder
        ls -l

    - name: Set and push Version Tag
      run: |
        git branch --show-current
        TAG_NAME="${{ github.event.inputs.tag_name }}"
        git tag $TAG_NAME
        git push origin $TAG_NAME

      
    - name: Create prerelease
      env:
        GITHUB_TOKEN: "${{ secrets.ADD_TO_PROJECT_PAT }}"

      run: |
        echo "${{ github.event.inputs.tag_name }}"
        gh release create "${{ github.event.inputs.tag_name }}" *.tar.gz --target release --draft --prerelease --generate-notes