name: Custom create release action

on:
  workflow_dispatch:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
    
permissions:
  issues: write
  contents: write

jobs:
  release-benefit-finder:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: release

    - name: Build benefit-finder module
      run: |
        pwd
        cd px-benefit-finder
        bash ./mv-benefit-finder-app.sh
        ls -l
        

    # - name: Set Beta Version Tag
    #   run: |
    #     TAG_NAME="v0.1.0-beta.${{ github.run_number }}"
    #     git tag $TAG_NAME
    #     git push origin $TAG_NAME

    # - name: Create Release
    #   id: create_release
    #   uses: actions/create-release@v1
    #   env:
    #     tag_name: ${{ vars.TAG_NAME }}
    #     GITHUB_TOKEN: ${{ secrets.ADD_TO_PROJECT_PAT }} # This token is provided by Actions, you do not need to create your own token
    #   with:
    #     tag_name: "v0.1.0-beta.${{ github.run_number }}"
    #     release_name: "v0.1.0-beta.${{ github.run_number }} Release"
    #     body: |
    #       Changes in this Release
    #       - First Change
    #       - Second Change
    #     draft: true
    #     prerelease: true

