name: Custom create release action

on:
  workflow_dispatch:
    inputs:
      tag_name: 
        description: "What is the tag you would like to publish?"
        required: true
      draft:
        description: "If you'd like to draft this release enter `--draft` at below area:"
        required: false
      prerelease:
        description: "If you'd like to publish this as prerelease, enter  `--prerelease` at below area:"
        required: false       

  # push:
  #   # Sequence of patterns matched against refs/tags
  #   tags:
  #     - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
    
permissions:
  issues: write
  contents: write

jobs:
  release-benefit-finder:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: release

    - name: Build benefit-finder module
      run: |
        pwd
        ls -l usagov_benefit_finder/modules/
        bash ./mv-benefit-finder-app.sh
        ls -l

    - name: Compress the module
      run: |
        tar -cvzf "benefit-finder-${{ github.event.inputs.tag_name }}.${{ github.run_number }}.tar.gz" usagov_benefit_finder
        ls -l

    - name: Set and push Version Tag
      run: |
        git branch --show-current
        TAG_NAME=${{ github.event.inputs.tag_name }}
        # TAG_NAME="v0.1.0-beta.${{ github.run_number }}"
        git tag $TAG_NAME
        git push origin $TAG_NAME
      
    - name: Create release
      env:
        GITHUB_TOKEN: '${{ secrets.ADD_TO_PROJECT_PAT }}'
      run: |
        gh release create "Release ${{ github.event.inputs.tag_name }}" *.tar.gz --target release ${{ github.event.inputs.prerelease }} ${{ github.event.inputs.draft }} --generate-notes 

        

    # - name: create release
    #   uses: "marvinpinto/action-automatic-releases@latest"
    #   with:
    #     repo_token: "${{ secrets.ADD_TO_PROJECT_PAT }}"
    #     automatic_release_tag: "v0.1.0-beta.${{ github.run_number }}"
    #     prerelease: true
    #     title: "v0.1.0-beta.${{ github.run_number }} Release"
    #     files: |         
    #       *.tar.gz

    # - name: Create Release
    #   id: create_release
    #   uses: actions/create-release@v1
    #   env:
    #     tag_name: ${{ vars.TAG_NAME }}
    #     GITHUB_TOKEN: ${{ secrets.ADD_TO_PROJECT_PAT }} # This token is provided by Actions, you do not need to create your own token
    #   with:
    #     tag_name: "v0.1.0-beta.${{ github.run_number }}"
    #     release_name: "v0.1.0-beta.${{ github.run_number }} Release"
    #     body: |
    #       Changes in this Release
    #       - First Change
    #       - Second Change
    #     draft: true
    #     prerelease: true

