name: Run Cypress Tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - benefit-finder/*


permissions: read-all

defaults:
  run:
    working-directory: ./benefit-finder

jobs:
  install:
    name: cypress-run
    runs-on: ubuntu-latest
    env:
      working-directory: ./benefit-finder

    strategy:
      fail-fast: false
      matrix:
        containers: [chrome, firefox, edge, webkit]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version-file: "./benefit-finder/package.json"

      - name: Install Submodule
        run: |
          npm ci
          cd ..
          git submodule init
          git submodule update
          cd benefit-finder

      - name: Install WebKit browser dependencies
        uses: cypress-io/github-action@v6
        if: ${{ (matrix.containers == 'webkit') }}
        with:
          build: cd benefit-finder && npx playwright install-deps webkit
          runTests: false

      - name: Cypress Run Tests
        uses: cypress-io/github-action@v6
        with:
          browser: ${{ matrix.containers }}
          config-file: cypress.config.js
          working-directory: benefit-finder
          build: "npm run cy:build:storybook"
          start: "npm run cy:run:pipeline"

      - uses: actions/upload-artifact@v3
        if: failure ()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
