name: Run Cypress Tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - benefit-finder/*


permissions: read-all

defaults:
  run:
    working-directory: ./benefit-finder

jobs:

  tests-webkit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install NPM dependencies, cache them correctly
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version-file: "./benefit-finder/package.json"

      - name: Install Submodule
        run: |
          cd ..
          git submodule init
          git submodule update
          cd benefit-finder
      # and run all Cypress tests
      # https://github.com/cypress-io/github-action
      - name: Install dependencies
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./benefit-finder
          # install WebKit browser dependencies
          build: npx playwright install-deps webkit
          runTests: false

      - name: Cypress run (WebKit)
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./benefit-finder
          # we have already installed everything
          install: false
          # check the spec types
          build: "npm run cy:build:storybook"
          # start the application before running Cypress
          start: "NODE_ENV=test concurrently -k -s first -n \"SB,TEST\" -c \"magenta,blue\"   \"http-server ./storybook-static --port 6006 --silent\"   \"wait-on tcp:6006\" -Y"
          browser: webkit
