---
name: Test Frontend

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  push:

permissions: read-all

defaults:
  run:
    working-directory: ./benefit-finder

jobs:
  test_frontend:
    name: test frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version-file: "./benefit-finder/package.json"

      - name: Install Dependencies
        run: npm ci

      - name: Test Frontend
        run: npm run test:coverage
