name: TruffleHog Scan

on:
  # schedule:
  #   - cron: '0 8 * * *' # Runs daily at 8 AM UTC
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run TruffleHog scan
        uses: trufflesecurity/trufflehog@v3
        with:
          scan: filesystem
          output_format: json
          directory: .

      - name: Upload TruffleHog scan results
        uses: actions/upload-artifact@v3
        with:
          name: trufflehog-results
          path: truffleHogResults.json
