@use '@styles/breakpoints' as *;
@use '@styles/sizes' as *;
@use '@styles/functions' as *;

.bf-intro {
  padding-bottom: rem(36px);

  > .bf-grid-container.grid-container {
    padding: 0 rem(36px);
  }

  .bf-cta-wrapper {
    display: flex;
    justify-content: center;
    margin: rem(20px) 0 rem(24px);

    @media (width >= $desktop) {
      margin: rem(32px) rem(32px) rem(64px);
    }
  }

  .bf-cta-wrapper button {
    margin: 0 auto;
  }

  .bf-intro-process-notices {
    display: flex;
    flex-direction: column;
    text-align: left;

    @media (width >= $desktop) {
      margin-left: rem(16px);
    }

    .bf-intro-process-notices-heading {
      width: 100;
      margin-bottom: rem(30px);
    }

    p {
      margin-top: 0;
    }
  }

  .bf-intro-process-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .bf-intro-process-heading h2 {
      text-align: left;
      margin-bottom: rem(30px);

      @media (width >= $desktop) {
        margin-bottom: rem(16px);
      }
    }

    .bf-usa-process-list {
      margin-left: 0;
      margin-right: 0;
      padding-top: rem(8px);

      .bf-usa-process-list__heading {
        font-size: rem(16px);

        @media (width >= $desktop) {
          font-size: rem(21px);
        }
      }
    }
  }

  @media (width >= $desktop) {
    .bf-intro-process-list {
      min-width: 50%;
    }

    .bf-intro-process-group {
      display: flex;
    }
  }
}
