@use '@styles/breakpoints' as *;
@use '@styles/sizes' as *;
@use '@styles/space' as space;

.bf-intro {
  padding-bottom: space.$padding-bottom-lg;

  .bf-chevron {
    margin-bottom: space.$padding-bottom-lg;

    @media (width >= $desktop) {
      margin-bottom: space.$padding-bottom-xl;
    }
  }

  .bf-cta-wrapper {
    display: flex;
    justify-content: center;
    margin: space.$space-lg space.$space-lg space.$space-xl;
  }

  .bf-cta-wrapper button {
    margin: 0 auto;
  }

  .bf-intro-process-notices {
    display: flex;
    flex-direction: column;
    margin-left: space.$space-md;
    text-align: left;

    .bf-intro-process-notices-heading {
      width: 100;
    }

    p {
      margin-top: 0;
    }
  }

  .bf-intro-process-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .bf-intro-process-heading h2 {
      text-align: left;
      margin-bottom: space.$space-md;
    }

    .bf-usa-process-list {
      margin-left: 0;
      margin-right: 0;
      padding-top:space.$space-sm;
    }
  }

  @media (width >= $desktop) {
    .bf-intro-process-list {
      min-width: 50%;
    }

    .bf-intro-process-group {
      display: flex;
    }
  }
}
