@use '@styles/breakpoints' as *;
@use '@styles/sizes' as *;
@use '@styles/space' as *;
@use '@styles/functions' as *;

.bf-intro {
  padding-bottom: rem(32px);

  .bf-grid-container.grid-container {
    // padding: 0 0 0 rem(36px);
    padding: $space-intro-grid-container-mobile;
  }

  .bf-cta-wrapper {
    display: flex;
    justify-content: center;
    margin: rem(32px) rem(32px) rem(64px);
  }

  .bf-cta-wrapper button {
    margin: 0 auto;
  }

  .bf-intro-process-notices {
    display: flex;
    flex-direction: column;
    margin-left: rem(16px);
    text-align: left;

    .bf-intro-process-notices-heading {
      width: 100;
    }

    p {
      margin-top: 0;
    }
  }

  .bf-intro-process-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .bf-intro-process-heading h2 {
      text-align: left;
      margin-bottom: rem(32px);

      @media (width >= $desktop) {
        margin-bottom: rem(16px);
      }
    }

    .bf-usa-process-list {
      margin-left: 0;
      margin-right: 0;
      padding-top:rem(8px);
    }
  }

  @media (width >= $desktop) {
    .bf-intro-process-list {
      min-width: 50%;
    }

    .bf-intro-process-group {
      display: flex;
    }
  }
}
